[2019-09-13 16:55] astanciu opened #1 "oidc-client http timeout"
The oidc-client uses a default http timeout of 2500ms. It would be useful to increase this default or allow configuring this via the settings passed in.

[2019-09-17 12:56] sandrinodimattia commented on #1
Thanks, makes total sense! Added as part of the initial release: https://github.com/auth0/nextjs-auth0/commit/36608af56a9e09f67f6c02074364272b23158b79

[2019-09-17 12:56] #1 closed

[2019-09-20 21:12] jkjustjoshing opened #3 "Support Auth0 Lock Embedable Form"
### Describe the problem you'd like to have solved

I want to be able to use https://auth0.com/lock with this. I have the login flow implemented using Lock right now, but when the callback is called I get an error thrown "Invalid request, an initial state could not be found". This is because `auth0.handleLogin()` is never called (because that forces a redirect to an Auth0 domain). Within `auth0.ha

[2019-09-23 13:45] sandrinodimattia commented on #3
@jkjustjoshing thanks for filing this issue. This library was created with a focus on the Universal Login experience to keep the library light weight, hence the lack of support for Lock.

Would it be an option for your use case if we made the state cookie name configurable? That would not leak any Lock specific logic in the library but still allow you to support your use case (without having to re

[2019-09-23 13:46] jkjustjoshing commented on #3
Yeah, that definitely would do the trick!

[2019-09-23 14:30] vgrafe opened #4 "add support for refresh token"
First of all, thanks for this great library, the struggle was so real before I came across your nextjs example!

As requested in https://github.com/sandrinodimattia/nextjs-auth0-example/issues/2 :

A good feature for the next release would be to store refresh token, in order to allow getting new access tokens when needed.

[2019-09-23 20:43] jkjustjoshing opened #5 "Pass custom callback URL to handleLogout()"
### Describe the problem you'd like to have solved
I'd like to send a query parameter to the logout callback endpoint. For example, the current user's name, so I can put on the callback screen "John Smith has successfully logged out".

### Describe the ideal solution
The idea in my mind right now is adding a 3rd parameter to `handleLogout()` with a custom callback URL. This could then get passed a

[2019-09-23 20:45] jkjustjoshing commented on #5
I'm happy to submit a PR to make this change, once @sandrinodimattia confirms the idea is a good one.

[2019-09-24 16:59] sandrinodimattia opened #7 "Better support for refresh tokens"
### Describe the problem you'd like to have solved

We now have the capability to store a `refresh_token` in the session using `storeRefreshToken`. However, as a developer I currently need to do a lot of heavy lifting to put this to good use:

 - I use the `access_token`
 - When the API I'm calling returns a `401`, I can assume that the token is expired and use the refresh token instead.
 - I need

[2019-09-25 14:05] sandrinodimattia commented on #4
Fixed in `v0.2.0`. You'll want to request the `offline_access` scope in addition to any other scopes and then set `storeRefreshToken` to true.

There's some additional things we're tracking here: https://github.com/auth0/nextjs-auth0/issues/7

[2019-09-25 14:05] sandrinodimattia commented on #4
Let me know if we can close this issue.

[2019-09-25 14:17] vgrafe commented on #4
That was fast!! I'll have a look after work.

[2019-09-25 18:42] b2times4 commented on #4
Brilliant + fast = brilliant.
I'll (kindly) "need"  [sandrinodimattia/nextjs-auth0-example]( sandrinodimattia/nextjs-auth0-example) to be updated for implementation.
I managed to get the example implemented as is, but brain not large enough to update it with refresh_token

[2019-09-25 21:58] vgrafe commented on #4
Just tried 0.2.0, perfect! I can see the token in the JTW session. You can close.

@b2times4: you might want to file an issue in the repo you linked. I'll mention you if I find myself figuring out a working example of token refresh.

[2019-09-30 22:17] jimwheaton opened #12 "Setting 'audience' does not return JWT"
### Description

I have a NextJS app that talks to a Go API. I'm trying to get a JWT access_token that will work with the Go API, but I'm not having any success.

I've created an app in Auth0.com for my NextJS app. I have also created an api in Auth0.com for my Go API.

For the Go API, I am using the Auth0.com quickstart API for golang. For my NextJS app, I've used `create-next-app`, then added th

[2019-09-30 22:47] jimwheaton commented on #12
Update: if I modify `src/handlers/login.js` starting at line 36 to include `settings.audience`, it works as expected. Is this missing from the SDK or am I not configuring things correctly?

[code]

[2019-10-01 03:18] #3 closed

[2019-10-01 03:18] jkjustjoshing commented on #3
Misunderstood how Auth0 state works - this is my first time integrating with Auth0. This ticket is a non-issue.

[2019-10-01 16:53] cberigan commented on #12
Getting the same issue. However, when I make your change I get an infinite redirect. lol

Looking in the code it looks like audience setting isn't even used.

[2019-10-01 21:20] jimwheaton commented on #12
@cberigan are you also passing `audience` when setting up auth0 with `useAuth0`?

eg: In my nextjs app, in `/utils/auth0.js` I have set both `audience` and `session.storeAccessToken: true`:

[code]

As a quick and dirty edit, I changed `node_modules/@auth0/nextjs-auth0/dist/handlers/login.js` to (added `audience` to the call to `client.authorizationUrl()`)

[code]

Then I rebuilt my next app (HMR

[2019-10-01 22:19] cberigan commented on #12
Yeah, I eventually got it to work. The reason for it not working was because I had both the ID token and access token saved to the cookie which it doesn't like. So, I selected just the access token.

[2019-10-02 19:12] niicojs opened #14 "Callback on Callback"
### Describe the problem you'd like to have solved

I would like to be able to handle additionnal code on login callback. For example only allpw authentication in user is in a role

### Describe the ideal solution

Beeing able to add a callback to `auth0.handleCallback` that would allow me to return 401.

## Alternatives and current work-arounds

People are probably doing this in another way, plea

[2019-10-03 14:59] g-sam opened #15 "No way to pass through `mode` to universal login"
### Describe the problem you'd like to have solved

No way to pass `mode` parameter to auth0 universal login (used for setting Lock's `initialScreen`)

### Describe the ideal solution

`mode` should be settable when initialising the client or using the login handler

[2019-10-04 21:50] g-sam commented on #15
While I'm at it, it would be nice to be able to add custom query params to the `authorize` url!

[2019-10-08 12:04] matthieuh opened #16 "Handle Signup"
### Description

It seems that using this lib that there is no way to redirect user to signup part of the universal login.

### Describe the ideal solution

I would expect a `auth0.handleSignup`.

I'm maybe missing something but If I'm right I would enjoy open a PR.

[2019-10-09 14:49] durdenx commented on #7
Any news about this ? Is there a way to update the session with the new access_token generated with a refresh_token ?

[2019-10-09 20:00] qburnsFB opened #18 "Handle clock skew with leeway option"
### Description

Getting this error when running from my local server:

Running on a pushed production server works as expected.

According to the [Auth0 ref](https://auth0.com/docs/libraries/auth0js/v9), we can set a leeway integer to deal with small amount of clock skew. However, this library doesn't seem to support it as an option.

I saw a [commit merged earlier today](https://github.com/auth0

[2019-10-09 20:13] qburnsFB commented on #18
Update: If I manually change the following line in:  `/node_modules/openid-client/lib/client.js` , I can get my app to work as expected.

this[CLOCK_TOLERANCE] = 0; **changed to**    this[CLOCK_TOLERANCE] = 30;

Obviously this is extremely hacky. Any ideas on how to resolve this?

[2019-10-10 13:55] qburnsFB commented on #18
Awesome! It seems to be working in my project. Thanks for the quick response and fix!

[2019-10-10 13:55] #18 closed

[2019-10-11 11:06] powderham opened #21 ""failed to validate JWT signature""
### Description

When the user is returned to my callback url `api/auth/callback`, I receive the error:

[code]

My setup is incredibly basic, so can't seem to find anything idiosyncratic in my app that would be causing the issue - although this is my first time working with auth0, so it could be a simple config issue.

When checking auth0, I can see the user login/signup is registered, just the `

[2019-10-14 14:34] lkbr opened #23 "Verify email flow"
Thank you for this package, it's really simplified how I use Next.js and Auth0. I'm using it in conjunction with your example in the Next.js repo.

One thing I am struggling with is how to manage the email verification flow.

1. User signs up
2. We check for user.email_verified and ask them to verify their email if its false
3. User verify's email and returns to our app
4. At this point user.email

[2019-10-14 15:00] sandrinodimattia commented on #15
Hi @g-sam, here you go: https://github.com/auth0/nextjs-auth0/pull/24 (v0.5.0).

[2019-10-14 15:00] #15 closed

[2019-10-14 15:02] sandrinodimattia commented on #16
Hi @matthieuh , here you go: https://github.com/auth0/nextjs-auth0/pull/24 (v0.5.0). You could implement a new API route (eg: `/api/signup`) which calls the login handler with specific options which will be used by your login page (eg: `mode=signup`).

Feel free to re-open the issue if this doesn't solve it for you.

[2019-10-14 15:02] #16 closed

[2019-10-14 15:20] sandrinodimattia commented on #21
@powderham could you verify that the domain and clientId exactly matches what you see in the dashboard?

[2019-10-14 21:04] sandrinodimattia commented on #5
Hij @jkjustjoshing, I would argue that this use case goes beyond the scope of this library. And it goes against the latest [BCP](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-09):

[code]

So I would suggest storing that message in a cookie or local storage.

[2019-10-14 21:04] #5 closed

[2019-10-14 23:32] matthieuh commented on #16
Using the login handler with a mode parameter seems not redirecting user to signup screen with the latest lib version (`v0.5.0`).
[code]

[2019-10-14 23:38] matthieuh opened #25 "Mode=signup not working in v0.5.0"
### Description

As answered in this issue: https://github.com/auth0/nextjs-auth0/issues/16 it should be possible in `v0.5.0` to use the login handler to redirect user to signup screen (instead of the login one by default).

Seems still not working.

### Reproduction

- Call a `pages/api` route using this config

[code]

=> Im expecting a redirection to the signup page

[2019-10-16 11:52] sandrinodimattia commented on #25
@matthieuh, in order for this to work you need to add some logic to your login page (and it only works if you use Classic mode today).

Full example is available here: https://github.com/sandrinodimattia/nextjs-auth0-example/commit/ce7f73b24ea04398a52e959cc5ac43842c509397

Let me know if we can close the issue.

[2019-10-16 12:50] matthieuh commented on #25
Thank a lot for the explanation! Make totally sense to me now. 👌
Feel free to close it.

[2019-10-16 16:58] kylemac opened #26 ""state mismatch" on nextjs example"
### Description

When attempting to follow the directions in the nextjs auth0 example readme.md ([link](https://github.com/zeit/next.js/tree/canary/examples/auth0)), i get a `state mismatch` error locally. i've verified that all the credentials in my `.env` are appropriate and up-to-date, and i still receive the error.

it seems like there was a recent fix that centered around a similar error wher

[2019-10-17 01:12] matthieuh commented on #25
I finally found something that seems an issue.

Adding the `prompt` parameter to `authParams` key/value seems also passed to all others social auth providers.

It can be reproduced trying to register with google on your example project: https://nextjs-auth0-demo.now.sh/ google returning a 400 with the error message "Invalid parameter value for prompt: Invalid prompt: signup".

[2019-10-17 11:00] sandrinodimattia commented on #26
I just tried all steps you described and everything worked as expected:

![image](https://user-images.githubusercontent.com/655409/67003192-bd8bb880-f0dd-11e9-8628-e9886a6f055b.png)

Could you verify the following:

1. When the user is redirect to `/api/login`, what state is being returned in the cookie?

![image](https://user-images.githubusercontent.com/655409/67003269-e0b66800-f0dd-11e9-9ef6-9d

[2019-10-17 11:20] sandrinodimattia commented on #25
@matthieuh, thanks for reopening the issue. You can actually send custom parameters to Auth0, and my example with prompt might not have been the best for now. So I updated the example to use a different name, which mitigates the issue (eg, `initialScreen` will not be sent to the connection):

https://github.com/sandrinodimattia/nextjs-auth0-example/commit/d71a499bf150705e235dd8dbc827a1ddabce6e37

[2019-10-18 00:23] kylemac commented on #26
for what it's worth, i noticed there were some small differences between your personal example (https://github.com/sandrinodimattia/nextjs-auth0-example.git) and the zeit/nextjs example (https://github.com/zeit/next.js/tree/master/examples/auth0) so i tried setting up your personal example and still got the `state mismatch` error.

[2019-10-21 04:15] kgoggin commented on #26
FWIW I'm seeing the same issue @kylemac describes, with a pretty much identical setup. I first followed the instructions in the README to set up my existing nextjs app, and then tweaked it to match the example app - in both scenarios I get the state mismatch error.

[2019-10-21 12:02] vasco3 opened #27 "is it possible to use passwordless? how is this done?"
### Describe the problem you'd like to have solved

### Describe the ideal solution

[2019-10-21 16:01] Afsoon commented on #21
After a couple hours unable to login because the algorithm is invalid, go to your App configuration, on Auth0, and show advanced setting and changes de algorithm from `HS256` to `RS256`, I just found that HS256 was the default algorithm. I don't know if it can help you, but I didn't found you have to change this in any tutorial.

![imagen](https://user-images.githubusercontent.com/713534/67221913-

[2019-10-22 04:17] imyjimmy opened #28 "Works well in dev, but not in staging / production"
### Description

I have a Nextjs project where I followed the steps outlined in this README, and it works well locally. However, I'm using Serverless Framework to push to staging / production, and the login endpoint (the one that goes `https://mydomain.com/authorize?client_id=...`) shows `ERR_CONNECTION_REFUSED`

### Reproduction

In general, have a working Nextjs project without authentication, t

[2019-10-22 16:54] powderham commented on #21
@Afsoon thanks for getting back to me.

Mine was originally set to `RS256`, I changed it to `HS256` just to double check and got `unexpected JWT alg received, expected RS256, got: HS256` so I don't think it's the _only_ setting required.

Are you able to send me additional screenshots of your (advanced) settings so I can cross reference?

[2019-10-22 19:18] charltoons commented on #21
@powderham What node version are you using? I ran into the same issue when trying to use `node@11.x.x`, but was able to get it working with `node@12.12.0`. It appears that some of the Auth0 lib's dependencies (namely `openid-client`) are incompatible with node v11 and issue the following warning during `npm install`:

[code]

[2019-10-23 11:35] Afsoon commented on #21
@powderham The rest of my advanced settings are values by default, I didn't change anything. I think can be a good idea to take a look up in your node version because in my case I have `node v12.4.0`

[2019-10-23 17:24] colinwolff opened #29 "Ability to check permissions"
### Describe the problem you'd like to have solved

### Describe the ideal solution

[code]

## Alternatives and current work-arounds

[2019-10-24 14:48] matthieuh commented on #25
I forgot to say that it was working on my side with you explanations and your updated example 👍

[2019-10-24 14:48] #25 closed

[2019-10-25 12:12] maitham commented on #27
Would love to see an example on passwordless?

[2019-10-25 23:40] sandrinodimattia commented on #28
Hi @imyjimmy, if you could get us a repo to reproduce that would be great. I suspect this to be a configuration issue. The call to `/api/login` will initialize the client by executing some discovery steps. This will include making calls to some endpoints under `https://mydomain.com/...`.

You'll want to make sure your AWS Lambda can reach that server and that the environment variables are correctl

[2019-10-25 23:42] sandrinodimattia commented on #27
This library will use Auth0's universal login capabilities, redirecting the user to the login page in Auth0. You can configure your login page to use Passwordless by changing the template:

![image](https://user-images.githubusercontent.com/655409/67610264-d78a6280-f791-11e9-921f-cc5bbef39a35.png)

[2019-10-25 23:45] sandrinodimattia commented on #26
@kylemac @kgoggin I still haven't been able to reproduce this issue.

Would it be possible to show the following for `/api/login` and `/api/callback`:

 - The full URL
 - The request and response cookies
 - The persisted cookie under application state

![image](https://user-images.githubusercontent.com/655409/67610329-34861880-f792-11e9-84ef-b22346237757.png)

[2019-10-25 23:45] sandrinodimattia commented on #26
Can you also test signing in here: https://nextjs-auth0-demo.now.sh/

Does that work for you or are you getting the same error?

[2019-10-25 23:47] sandrinodimattia commented on #26
To speed things up you can also record [a HAR file](https://auth0.com/docs/troubleshoot/har) and send it to me at sandrino at auth0.com. Please make sure to reproduce this issue with non-production credentials since the HAR file will record every step of the sign in process.

[2019-10-25 23:50] kylemac commented on #26
@sandrinodimattia signing in with this demo worked: https://nextjs-auth0-demo.now.sh/

Additionally, I had filed a support request and sent along a HAR file there. the ticket number is `#00440286`. I'd love if you could take a look because I believe the most recent response had an idea as to what is causing the issue and at first glance it was at the library-level, not at my implementation level.

[2019-10-26 00:00] sandrinodimattia commented on #21
For those of you that bumped into issue, can you confirm the following:

- The application is a Regular Web Application
- **Json Web Token Signature Algorithm** is set to RS256 (under Advanced Settings, OAuth)
- **OIDC Conformant** is set to True (under Advanced Settings, OAuth)
- You're running Node 10.13 or Node 12

[2019-10-26 00:34] sandrinodimattia commented on #26
@kylemac thanks for the update. I reached out to my colleague who worked on the ticket and he mentioned that you are actually using a custom domain. When that is the case, you should use that in the `domain` setting.

So instead of:

[code]

You need to use the custom domain:

[code]

(This just serves as an example, replace it with your actual custom domain).

Let me know if that helps.

[2019-10-26 00:35] sandrinodimattia commented on #26
I also updated the guidance here: https://github.com/auth0/nextjs-auth0/commit/afaca845573a47c8980307e59570712abfc0f72d

[2019-10-26 13:37] maitham commented on #27
Also you can make a `POST` client side

[code]

[2019-10-26 13:51] maitham commented on #27
@sandrinodimattia Whats the best way to do it if you want a custom login form, should I be doing what I specified in the comment above?

[2019-10-26 20:31] vasco3 commented on #27
thanks @sandrinodimattia that worked!

[2019-10-26 23:02] Flaque opened #30 "Support Subdomains in cookies"
### Describe the problem you'd like to have solved

I have a Nextjs site like `foobar.com` and I'd like to send a request to an API I have running on `api.foobar.com`.

From the `foobar.com` site, I could send something like this:

[code]

And then I'd see the session cookie:
[code]

This works on `localhost` and in development. But in production, it doesn't.

### Describe the ideal solution

I _b

[2019-10-28 00:39] gschema opened #32 "Login /api/login breaks with 502: BAD_GATEWAY NO_STATUS_CODE_FROM_FUNCTION when 'eval-source-map' used"
### Description

Login into the app breaks when deployed to https://zeit.co app when `'eval-source-map'` used in `next.config.js` config.

### Reproduction

1. Set `next.cofing.js` as:
[code]

2. run `now` in local to deploy to your zeit deployment

3. once deployment done try to login into your app:
`https://{{your-app-name}}.{{your-account-name}}.now.sh/api/login`

4. see following screen:
![ima

[2019-10-28 23:23] phanssens1 opened #33 "The cookieSecret setting is empty or null"
I'm getting the following error message when I try to log in to my app at https://<domain>.<user>.now.sh/api/login:
`2019-10-28T23:13:26.978Z	fc3be034-8264-4d6c-9b00-c00533c27576	ERROR	Uncaught Exception	{"errorType":"Error","errorMessage":"The cookieSecret setting is empty or null","stack":["Error: The cookieSecret setting is empty or null","    at new CookieSessionStoreSettings (/var/task/node_m

[2019-10-31 16:51] awhit012 opened #35 "Ability to access the user object on the server (or an example of how modify the user from the client)"
Hi there,
Thanks for your work on this. So far it's working great.

However, I'm a bit lost on how to update the User with custom attributes.

According to Auth0 docs, we are supposed to store our custom user data in user.user_metadata or user.app_metadata, but need access to the user object to do this.

For example, I want to store a user's "level", ie "beginner" etc.

handleProfile and handleCal

[2019-11-02 00:35] karaggeorge commented on #33
You need to provide the `cookieSecret` value in this config: https://github.com/auth0/nextjs-auth0#runtime-configuration

It also needs to be at least 32 characters long

[2019-11-02 10:56] aorsten opened #36 "Redirect after login"
### Redirect users after login

As described in https://auth0.com/docs/users/guides/redirect-users-after-login

Is it possible to redirect a user to a defined page after login, and if so, how would you do it with this library?
My use case is I have a user who tried to access a specific page which required authentication, and I want to redirect back to that page after login.

On the client-side I w

[2019-11-02 11:33] phanssens1 commented on #33
Thanks @karaggeorge - the env var was present.

I've subsequently found that using dotenv-webpack has resolved the issues: https://github.com/zeit/next.js/blob/master/examples/with-dotenv/next.config.js

[2019-11-02 11:33] #33 closed

[2019-11-02 14:48] Afsoon commented on #21
Sorry for my late answer. Yes, I have a regular web application, with RS256 and OIDC Conformant and using node 12.

[2019-11-02 16:01] claus commented on #36
I ran into this myself today. I believe that it should be possible to pass a custom `state` value to `handleLogin` (this is [currently not possible](https://github.com/auth0/nextjs-auth0/blob/master/src/handlers/login.ts#L47-L48)). Then the redirect url could be stored as described in https://auth0.com/docs/protocols/oauth2/redirect-users - the callback handler gets passed the `state` as a query p

[2019-11-02 17:46] karaggeorge opened #40 "Access Token expired, but cookie still valid"
### Description

You can set expiration time for your tokens in the Auth0 dashboard. If you set that to a value that's lower than the cookie lifetime, the session cookie should use that as expiration. Otherwise you can get to a point where the cookie is valid, but the access token is not.

### Reproduction

- Set token expiration to 2 minutes
- Set cookie lifetime to 4 minutes
- Log in
- Wait 2 mi

[2019-11-03 18:03] Miz85 commented on #21
Hi 👋 I'm running into this exact issue and I can confirm I can answer yes to all @sandrinodimattia's questions except my app was created as "single page app" in auth0 and i'm running node v12.10.0.

[2019-11-05 09:19] nodabladam opened #42 "logout doesn't clear cookies on AWS Lamda Edge"
### Description

I have copied the [Next.js Auth0 example](https://github.com/zeit/next.js/tree/canary/examples/auth0) and deployed it using this
[Next.js Serverless Component](https://github.com/danielcondemarin/serverless-next.js/tree/master/packages/serverless-nextjs-component).
After deploying to Cloudfront Edge, everything works but logout.  The profile page maintains logged in state.  I have

[2019-11-07 11:10] #27 closed

[2019-11-07 13:31] karaggeorge commented on #35
Hey @awhit012

I believe you can do this to receive the user on the cookie:

[code]

I am not sure how you can edit the user with just the context of the cookie. You might need to access the [management API](https://auth0.com/docs/api/management/v2#!/Users/patch_users_by_id) with an appropriate token (probably saved in an env var).

Keep in mind, that this is the user object is currently generated

[2019-11-07 17:00] #36 closed

[2019-11-14 12:08] aorsten commented on #36
@claus
Have you implemented redirecting?
I'm looking at the auth0 tutorial for redirecting: https://auth0.com/docs/protocols/oauth2/redirect-users

How do you store the nonce locally? As far as I can tell, I need to store it (as cookie or local storage) before routing to /api/login (since the api probably cant store things on the client?), and then somehow retrieve it in /api/callback. Not sure wh

[2019-11-14 15:47] claus commented on #36
@aorsten Yes i implemented it, but i encode the redirect url in `state`.

In `/api/login` i do this:
[code]

Then in `/api/callback` i pull the redirect url back out of state:
[code]

[2019-11-14 15:55] claus commented on #36
And i just realized that this might not work too well. Seems the state cookie sticks after logout? Not sure now..

[2019-11-14 18:26] claus commented on #36
@aorsten To answer your question, i would store the redirect url in a key/value store like [node-cache](https://www.npmjs.com/package/node-cache). I would use the random state as key and the redirect url as value.

[2019-11-15 07:06] qtLOLI commented on #32
I have a similari issue, code breaks at 'api/login' as you, but in logs i have:

`errorType Runtime.UnhandledPromiseRejection
errorMessage ReferenceError: err is not defined
reason { errorType: 'ReferenceError',
  errorMessage: 'err is not defined',
  stack:
   [ 'ReferenceError: err is not defined',
     '    at Server.module.exports.14pD.__webpack_exports__.default (/var/task/.next/serverless/pa

[2019-11-15 16:29] powderham commented on #21
- [x]   The application is a Regular Web Application
- [x]  Json Web Token Signature Algorithm is set to RS256 (under Advanced Settings, OAuth)
- [x]   OIDC Conformant is set to True (under Advanced Settings, OAuth)
- [x]   You're running Node 10.13 or Node 12

Chaps, apologies for the delay. Today I tried again and fixed my node version to `v12.12.0` as per @charltoons and it worked.
I tried also

[2019-11-19 15:52] marcoschicote commented on #42
Same problem here. Did you find a workaround @nodabladam ?

[2019-11-20 15:13] #21 closed

[2019-11-20 17:22] roaks3 opened #44 "Silent authentication without user interaction"
### Describe the problem you'd like to have solved

There does not appear to be a way to have the user silently authenticate without the need for interaction from the user (ie. requiring a click of a "Login" button).

### Describe the ideal solution

A new handler (something like `SilentLoginHandler` or `CheckSessionHandler`) that would allow us to check for an existing Auth0 session and create th

[2019-11-21 17:57] nodabladam commented on #42
@marcoschicote Not yet, no.  I found some issues in serverless-next.js caching and reported them and I believe they are fixed in latest version.  I will try and retest.  You using serverless-next.js and trying the latest 1.6 version?

[2019-11-21 18:00] marcoschicote commented on #42
@nodabladam yes. NextJS 9.0.3 and serverless-next.js 1.6.0.

[2019-11-22 20:44] jurajkrivda opened #45 "Fetch user_metadata"
It is possible to fetch (using handleProfile()) user_metadata from account of the user?

[2019-11-22 23:04] fromi opened #46 "How to authenticate user in API functions called by getInitialProps from the backend"
### Describe the problem you'd like to have solved

We can call an API function from a page getInitialProps function (example from Next.js tutorial using isomorphic-unfetch: https://nextjs.org/learn/basics/fetching-data-for-pages/fetching-batman-shows)
In this case, auth0.getSession does not work, because the authentication cookie is not passed around the backend functions with isomorpic-unfetch.

[2019-11-25 22:57] tsaiDavid commented on #46
I'd like to understand the best method in working with an Apollo Client in Next.JS as well in conjunction with this SDK

[2019-11-26 12:43] PacoVK opened #47 "How long is this supposed to be experimental?"
Are there any near future plans to release a not experimental version of the sdk? Really looking forward to use it 👍 Progressbar or Milestones would be awesome ❤️

[2019-11-26 23:21] nodabladam commented on #47
Merging the open PRs would go a long way towards getting us there.

[2019-11-26 23:29] nodabladam commented on #42
@marcoschicote I just retested and don't believe the caching issues were fixed yet in 1.6.0 :(
I am not sure the cache settings on default cdn route have anything to do with this though.

[2019-12-01 02:23] stevewillard commented on #45
I'm also interested in doing this. @jurajkrivda did you find a workaround?

[2019-12-01 14:41] HelloEdit opened #48 "Wrong Typescript function signature"
By submitting an Issue to this repository, you agree to the terms within the [Auth0 Code of Conduct](https://github.com/auth0/open-source-template/blob/master/CODE-OF-CONDUCT.md).

### Description

Some functions, when used with Typescript, do not match the documentation and code, for example `handlelogin`:
[code]

![image](https://user-images.githubusercontent.com/25421857/69915560-b8e25000-1450-

[2019-12-01 17:27] mintuz opened #49 "Custom State throws error on handleCallback"
### Description

Support for custom state was recently merged into master as part of #41. I want to make use of this functionality however handleCallback is throwing the following error.

[code]

AuthorizeUrl generated (Removed sensitive parts)
[code]

### Reproduction

**handleLogin**
[code]

**handleCallback**
[code]

### Environment
- **Version of this library used:** 0.5.0
- **Version of the p

[2019-12-02 09:49] AwolDes commented on #42
@nodabladam I can see the issue on the serverless-next.js component repo was closed (https://github.com/danielcondemarin/serverless-next.js/issues/246), have you found a work around? I'm encountering the same problem.

[2019-12-02 20:35] HelloEdit commented on #48
Related to #43, sorry

[2019-12-02 20:35] #48 closed

[2019-12-03 21:52] qburnsFB commented on #49
Getting the same issue on my setup, trying to do a redirect

[2019-12-05 03:30] vgrafe opened #50 "auth state is lost when changing subdomain"
Hi!

I'd like to leverage Zeit's Now's [Wildcard Subdomains](https://zeit.co/blog/wildcard-domains) for my project.

Problem is: after authenticating in the main domain, switching to a subdomain results in losing the user/auth state.

I know my way around js/react/next, but am a bit clueless when it comes to JWT and its implementation with Auth0... Am I missing something in the initial config, may

[2019-12-05 14:31] sandrinodimattia commented on #50
Hi @vgrafe, could you share more details on how things are flowing exactly? Where does the user start? The sign in, what happens next? Which URL are they redirected to? ... A step by step explanation will help us to find a good solution.

[2019-12-05 15:20] vgrafe commented on #50
Sure!

I am using the code available [here](https://github.com/vgrafe/nextjs-auth0-hasura) (which is a fork of your [example repo](https://github.com/sandrinodimattia/nextjs-auth0-example) with a difference on how the session is provided form the `/api` folder - and not only the profile).

I tried this both on localhost and deployed on prod on now.sh, with a domain I own. I observe the same behavi

[2019-12-05 17:11] HelloEdit commented on #45
Hi everyone,

Take a look [here ](https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims#custom-claims). I think this issue is outside the scope of this module

[2019-12-06 09:12] mintuz commented on #49
I believe the purpose of randomBytes is to prevent CSFR with the alteration you made @qburnsFB that protection will disappear?

https://auth0.com/docs/protocols/oauth2/oauth-state

We probably want to do something similar to what the `authorize` method does within auth0 SDK

https://community.auth0.com/t/pass-custom-parameters-on-auth0-login-redirect/19075

[2019-12-06 12:36] fromi opened #51 "Redirect user to auth0 from Page.getInitialProps"
Page.getInitialProps can be executed on the server side.
When it is the case, and the page is restricted to authenticated user, I want to redirect immediatly unauthenticated users to Auth0 login page.
I tried calling `await login(req, res)` inside getInitialProps. I requires a change in login API route: replace NextApiRequest and NextApiResponse by IncomingMessage and ServerResponse, but it is fin

[2019-12-07 21:12] HelloEdit commented on #50
Maybe related to #31 ?

[2019-12-09 15:22] vgrafe commented on #50
Could be! I tried to address the PR while on the plane, but if not merged soon I'll link and test locally, and post my findings here.

[2019-12-11 08:22] doingandlearning commented on #45
Thanks @HelloEdit - a helpful article. I'm struggling to know how/where to implement the non standard claim in the authentication flow with this SDK.

From the article, `We can, however, define a non-standard claim by namespacing it through a rule:` is followed by a JS code snippet. I'm not clear if this defining of a non-standard claim is in my application code or somewhere in the Auth0 interface

[2019-12-11 08:37] doingandlearning commented on #45
For anyone else finding this, what we're looking for are 'Rules' in the Auth0 Dashboard which can be used to add the metadata as a non-standard claim to the returned OIDC object.

[2019-12-12 14:45] stevewillard commented on #45
Can you share the Rule that you added to enrich the response with metadata?

[2019-12-12 14:59] doingandlearning commented on #45
[code]

[2019-12-12 19:13] qburnsFB commented on #49
I used randombytes on the client side, similar to what [this user did](https://github.com/auth0/nextjs-auth0/issues/36#issuecomment-553947097).

[2019-12-12 20:55] torresandres commented on #16
I have this working by passing the "signUp" value as `initialScreen` instead of `mode`:

[code]

[2019-12-12 23:04] grahambryan opened #54 "Invalid request, an initial state could not be found (a0:state cookie)"
I moved this from @sandrinodimattia personal repo to here.

Great example, it has been very helpful! I have got it to work locally on my machine but I am having trouble getting it to work in a production environment (I am not using now).

I launch my application with this `HOST=0.0.0.0 PORT=80 npm run start` that uses the script `next start -p $PORT --hostname $HOST`. I am able to login but when i

[2019-12-13 02:11] BryceAMcDaniel opened #55 "GraphQL external API requests and access_tokens."
### Describe the problem you'd like to have solved

 I am interested in the best-practice/current best solution for querying graphql APIs from nextjs + auth0.  The current documentation specifies proxying your external API requests in a local /api query request once accessing the access_token with getSession(req).  This is difficult for several reasons and I feel like a simpler solution.

### Desc

[2019-12-14 03:36] vgrafe commented on #55
I published a template that handle such scenario (auth0 + nextjs + apollo client). Maybe my approach will be good enough for your use case.

https://github.com/vgrafe/nextjs-auth0-hasura

[2019-12-16 06:08] pks1989 commented on #51
Hi !

I use this way:
`
...
const pageInitialData = async ({ req, res, reduxStore }) => {
  if (typeof window === 'undefined') {
    const result = await auth0.getSession(req);
    if (!result) {
      res.writeHead(302, {
        Location: '/api/login',
      });
      res.end();
      return {};
    }
    // my stuff after authorization
    // const { dispatch } = reduxStore;
    // await dispat

[2019-12-16 18:14] grahambryan commented on #54
When launching the app with `NODE_ENV=production` it causes the environment to become secure and since my application was running on `http` and not `https` the secure cookie was not being sent to my browser. So setting NODE_ENV to something else made it work if you are trying to test this system in a production environment.

[2019-12-16 18:14] #54 closed

[2019-12-17 23:04] ichtestemalwieder opened #57 "docs: Clearify how this package is supposed to do authz/authn on the client side."
### Description (Problem)
The library does not in any way state in the docs, how the package can be used for client side authorization or authentication, respectively that it is not suited for this use case.

As we all know, next is a framework also to be used for pure client-side js/navigation. The most [voted ](https://github.com/zeit/next.js/issues/153) next issue is about auth, and there is st

[2019-12-18 16:44] meticoeus opened #58 "docs: Cross Site Request Forgery (CSRF) Considerations / Vulnerabilities"
Description (Problem)

The documentation does not make any mention of CSRF and whether there are any steps needed to address it or whether it is a concern.

Please clarify in the docs if there are steps that should be taken to mitigate risk if usage of this library is vulnerable to this type of attack. If this library already addresses this for you, it would be reassuring for the docs to mention t

[2019-12-18 23:15] sandrinodimattia commented on #58
I published v0.7.0 which now sets the session cookie to `SameSite=Lax` by default, which mitigates CSRF attacks.

Eg: an attacker will not be able to host a page on their malicious website to POST something to your site.

https://github.com/auth0/nextjs-auth0#cookies

[2019-12-18 23:16] sandrinodimattia commented on #50
Published as part of v0.6.0. Can you confirm that this solves your issue and that we can close this one?

[2019-12-19 01:14] vgrafe commented on #50
I hope it does the trick! I'll give it a try by tomorrow, maybe this evening.

[2019-12-19 11:42] meticoeus commented on #58
Thanks, that mostly answers my question. For those of us who are not security exports, are the cookie settings in use considered "good enough" for most cases?

[2019-12-19 12:24] sandrinodimattia commented on #58
The default value is `Lax` which is a good balance between security and usablity. You can also enable `Strict` depending on your use case, but that will prevent the session to be loaded if third party sites redirect to your site which could hurt the end user experience (ie: the user will never be signed in if they were redirected to your site from an other site).

[2019-12-19 12:45] HelloEdit opened #59 "Simplification of the code"
### Describe the problem you'd like to have solved

I've been interested in auth0 for some time, and this package perfectly meets my expectations. While cloning the code, I realized that the organization was counter-intuitive (I'd like to if I'm the only one to think so): the typecript definitions are separated from the code using them, their names are not very explicit...
I started to rebuild the

[2019-12-19 21:16] vgrafe commented on #50
It works 🎉🎉🎉

I used the following: `cookieDomain: '.mydomain.net'`.

Not sure how to have it working on `localhost`  😢any help appreciated with this case.

[2019-12-19 21:34] vgrafe commented on #50
My current solution for localhost:
- edit the `/etc/hosts` file to alias 127.0.0.1 to a domain, duplicate that line for subdomains
- update redirect URIs, etc on auth0 and local config
- auth state is kept when navigating through subdomains while working locally!

Closing. Thanks everyone for the help on this.

[2019-12-19 21:34] #50 closed

[2019-12-23 04:47] meticoeus commented on #58
Okay, thanks for the clarification : )

[2019-12-23 04:47] #58 closed

[2019-12-23 15:35] BryceAMcDaniel commented on #55
Currently, I am using a custom fetch before each request that pulls from /api/getToken to get the accessToken and attaches it to Authorization header.

If anyone comes up with a better method, I'd love to hear it.

Thanks!

https://gist.github.com/BryceAMcDaniel/a710afe4fd877a04e55a921e4e74a21c

[2019-12-28 18:37] brettski commented on #36
This solution does work to redirect the user after authentication. Though it will allow the user to be redirected anywhere opening the site for phishing attacks. Some control needs to be done to whitelist where they are being directed to!

[2019-12-28 18:37] brettski commented on #36
This solution does work to redirect the user after authentication. Though it will allow the user to be redirected anywhere opening the site for phishing attacks. Some control needs to be done to whitelist where they are being directed to!

[2019-12-28 19:07] claus commented on #36
@brettski Yes definitely, thanks for calling that out. The safest solutions are those outlined in the Auth0 article linked above.

[2020-01-03 01:58] MontoyaAndres commented on #54
Hey, I have the same error, but seems that the problem comes from the http protocol, because I'm using the command `now dev` to work with the app in development that runs over http. In this case, I always need to test the app in production (Deploying it on Now)?

[2020-01-03 02:36] MontoyaAndres opened #60 "Invalid request, an initial state could not be found"
When I try to login, and the auth0 page redirects to the callback url I have this error:

[code]

This is the code I'm using for the Login url:

[code]

This is the code from the Callback and where the error comes:

[code]

The Auth0 file that in each function I'm importing is this:

[code]

And the variables are configured like this (from the `now.json` file):

[code]

You can test the app [here]

[2020-01-03 15:21] grahambryan commented on #54
I’m unfamiliar with using ‘now’ for deployment so I can’t be much help here. My app is mainly for internal use inside a firewall and the solution above works for my case. But the overall solution I I believe is testing on an a secure http.

[2020-01-04 13:28] MontoyaAndres commented on #54
I tried uploading it to production (with ssl) and it doesn't work, this is the error I have:

https://github.com/auth0/nextjs-auth0/issues/60

[2020-01-05 21:14] erikdstock commented on #57
I've been looking at next.js this weekend and wondered the same thing, so I ported over my approach from [gatsby-theme-auth0-ts](https://github.com/erikdstock/gatsby-theme-auth0-ts). It appears to work here, but I'd like feedback from the team or anyone interested in kicking the tyres.

I used the `auth0-js` package instead of `https://github.com/auth0/auth0-spa-js` because again, I was reusing a

[2020-01-08 13:43] sandrinodimattia commented on #4
We now have a full example available that shows how to get a valid access token (and if expired, automatically get a new one using a refresh token):

https://github.com/auth0/nextjs-auth0/blob/master/examples/api-call-example/pages/api/shows.js#L9-L11

I'm going to go ahead and close this issue now.

[2020-01-08 13:43] #4 closed

[2020-01-08 14:15] sandrinodimattia commented on #7
Released in [v0.8.0](https://github.com/auth0/nextjs-auth0/releases/tag/v0.8.0) 👋

[2020-01-08 14:15] #7 closed

[2020-01-08 14:18] sandrinodimattia commented on #30
This is now supported using the new `cookieDomain` setting:

[code]

[2020-01-08 14:18] #30 closed

[2020-01-08 14:21] sandrinodimattia commented on #40
This is now solved in v0.8.0. The correct way to request an access token is through the token cache helper which will automatically get a new access token when needed (and if possible). If a valid access token cannot be returned it will throw an error:

[code]

[2020-01-08 14:21] #40 closed

[2020-01-08 14:22] sandrinodimattia commented on #28
Closing this one since there hasn't been any activity in a while. Feel free to reopen the issue if you need more help.

[2020-01-08 14:22] #28 closed

[2020-01-08 14:24] sandrinodimattia commented on #51
I updated the `basic-example` with a HOC that shows how to do this for SSR pages:

[code]

If a user is available `withAuth` will make expose it in the props, otherwise the user will be redirected to the login page.

[2020-01-08 14:24] #51 closed

[2020-01-08 14:28] sandrinodimattia commented on #60
What exactly does the **Login** button do in your example? On the client side, you should just redirect to `/api/login` since the API route will require to establish a state on the server side (with a HTTP only cookie).

Is it possible that you're trying to use the SDK from the client side?

[2020-01-08 16:49] MontoyaAndres commented on #60
The Login button just call the method Login.

[code]

Maybe in the auth0 config should I add in "Application Login URI" the login url, which is `/api/login`?

[2020-01-10 19:21] aldrinc opened #63 "Automatically sign in after sign up using Auth0 API"
### Describe the problem you'd like to have solved

Through [our website](https://tryjumpstart.co/) we help customers file for a US company online. They enter their information in our form and we ask them for a password and then sign users up via the Auth0 API (/dbconnections/signup endpoint).

Currently I am prompting them to sign in using the Auth0 login page after they place their order but thi

[2020-01-10 21:00] sandrinodimattia commented on #63
When you create a user through our API (`/dbconnections/signup` or API v2), there is no way to automatically sign in the user afterwards.

[2020-01-10 21:29] aldrinc commented on #63
@sandrinodimattia Is there any other approach I can use to sign up and sign in a user as a part of a native flow without spinning up my own auth servers?

[2020-01-12 15:11] BjoernRave commented on #55
@BryceAMcDaniel you can just do:
` const { accessToken } = await auth0.getSession(req)`

[2020-01-12 15:25] BryceAMcDaniel commented on #55
@BjoernRave
Hey there thanks for the reply!

I didn't make it very clear in my issue, but the issue only arises on next.js after the initial load and making subsequent actions from there like using router links (at this point, you don't have access to the req object and therefore no cookie).

Because the cookie is http-only, I can not access the cookie from code.

Currently, when running server-si

[2020-01-12 16:47] Miz85 commented on #55
Hey! Thanks for all the useful information!
Tried it out but I can't seem to get an `accessToken` back with the rest of the user information, is there something obvious I'm missing here?

[2020-01-12 16:51] BryceAMcDaniel commented on #55
@Miz85 Hey I'm not sure what your setup looks like, but it may be that you need to save the accessToken in the Auth0 config settings.

[code]

For reference: https://github.com/auth0/nextjs-auth0#calling-an-api

[2020-01-12 16:55] Miz85 commented on #55
yeah I litterally just realized that! Thank you so much for your help!

[2020-01-13 11:33] BjoernRave commented on #55
just another question, regarding graphql. Is anyone of you by any chance using graphql-shield on their server?

[2020-01-13 11:35] BryceAMcDaniel commented on #55
Yep!
Working on the repo now that will have a prisma2 api server with graphql shield.

[2020-01-13 14:18] BjoernRave commented on #55
@BryceAMcDaniel ah cool, I am working on the same thing. Only difference is I use urql on the frontend :D Is it by any change an open source project?

[2020-01-14 14:39] synoptase opened #65 "How to plug-in redux actions?"
### Describe the problem you'd like to have solved
Hook a redux store to nextjs-auth0, mirroring the different steps that are taken when logging in or logging out a user.

### Describe the ideal solution
Have events that we can plug-in to like the [Router API from NextJS](https://nextjs.org/docs/api-reference/next/router#routerevents).

Thanks for all the heavy lifting.

[2020-01-15 11:43] tpiros opened #66 "Unauthorized with GitHub login"
### Description
I am using the sample Next.js Auth0 application and I added GitHub authentication, but unfortunately it always returns `Unauthorized`.

### Reproduction

- `npx create-next-app --example auth0 auth`
- `cd auth0`
- `npm i`
- `cp .env.template .env`
- I have setup a GitHub Application and enabled the social connection
- Click on Login
- Select 'GitHub'
- Observe 'Unauthorized'

FYI I

[2020-01-15 13:39] BjoernRave opened #67 "How to get accesstoken client-side"
So I am using graphql and instantiating apollo-client in a hoc wrapped around `app.js`. Here I am passing the `accessToken` I get from `const session = await auth0.getSession(ctx.ctx.req)` as Header to my client so it gets send to the server and the request can be verified. Now I get the error: `Error in error page `getInitialProps`:  Error: "The getSession method can only be used from the server

[2020-01-15 13:55] sandrinodimattia commented on #66
I just tested and everything works fine on my end.

Few things to consider:

- The [documentation](https://auth0.com/docs/connections/social/github) points out that you need to configure the `Authorization callback URL` to `https://mytenantname.auth0.com/login/callback`, not `/API/callback`.
- Secondly, if you change the GitHub Application settings to http://localhost:3000 then the error is expect

[2020-01-15 14:12] tpiros commented on #66
Okay, so when repeating the steps and leaving the Client ID and Client Secret to be blank, I see the "It Works!" message, and I see the GH user data (which is the only data that I request).

I then go ahead and configure the Client ID and Client Secret, and I have also changed the Auth callback URL in GitHub to be https://mytenant.auth0.com/login/callback.

What I experience now is slightly better

[2020-01-15 14:15] vgrafe commented on #67
I wish I had a better solution, but could not find one and ended up storing the idToken in a cookie.

[2020-01-15 15:00] sandrinodimattia commented on #66
Ok great, so now it looks like it's an error in the exchange between your App and Auth0. Next you should go to your Logs in the Auth0 dashboard and see if you can find a failed error message there.

Can you look there and share the error?

[2020-01-15 15:06] tpiros commented on #66
Yup, I have already checked that. I see the following:

Failed Exchange, Unauthorized

{
  "date": "2020-01-15T15:05:19.154Z",
  "type": "feacft",
  "description": "Unauthorized",
  "connection_id": "",
  "client_id": null,
  "client_name": null,
  "ip": "1.1.1.1",
  "user_agent": "Other 0.0.0 / Other 0.0.0",
  "details": {
    "code": "*************Ztn",
    "device_id": "v0:xxxx"
  },
  "hostnam

[2020-01-15 16:10] sandrinodimattia commented on #66
Aha! In the log I see that you're using `.eu.auth0.com` but in your initial post it says `.auth0.com`. Are you using the right domain?

Also, for the AUTH0_CLIENT_ID and AUTH0_CLIENT_SECRET - where did you get that information from? From the Auth0 dashboard or from GitHub? You need to use the ones from the Auth0 dashboard (under Applications).

Would it be possible to deploy an application so I co

[2020-01-15 17:01] tpiros commented on #66
I just didn’t delete that properly but it’s the same domain everywhere.

Those IDs are from the Auth0 dashboard indeed.

I can look into deploying it - but so far I’m clueless as to what’s going
on.

On Wed, 15 Jan 2020 at 17:10, Sandrino Di Mattia <notifications@github.com>
wrote:

--
Kind Regards,

Tamas Piros

[2020-01-15 19:58] tpiros commented on #66
@sandrinodimattia here you go: https://cloudyquiz.tpiros.now.sh/

[2020-01-15 20:20] tpiros commented on #66
OK, got it. When copying the secret from Applications by double clicking, the bit (3 chars) after the `_` didn't copy. That's it. Schoolboy error. Thanks - will leave issue here for those experiencing the same issue.

[2020-01-15 20:20] #66 closed

[2020-01-16 08:01] sandrinodimattia commented on #66
Ah ok, great that it was just a config issue 👍

[2020-01-18 15:48] tobkle opened #69 "Don't get IdToken nor AccessToken"
I'm able to login to Auth0. But whenever I switch on any of the tokens, I don't get a valid session any more. I never get an IdToken nor an AccessToken into my session for using them with Apollo authenticating in Hasura:
[code]

[code]

Tried also the example from https://github.com/vgrafe/nextjs-auth0-hasura
But never got it working with Authorization Header only with anonymous, which is not what

[2020-01-18 17:41] kavuri commented on #69
Same here. I got some short string like 1h4NJkvu_HOM7O2y4OXUwH5xgphmjgYP, which is definitely not an access token.

[2020-01-18 17:47] kavuri commented on #45
I am looking for getting the metadata info as well. Anyone were able to get this working?

[2020-01-18 18:24] tobkle commented on #69
Also the examples in the folders ```examples/api-call-example``` in combination with ```examples/sample-api``` aren't working. As soon as I set ```storeIdToken: true```, I don't get a session any more. If I have it on ```false```, I get a session, but without token.
Do I need to setup a special configuration in the Auth0 Dashboard somewhere in order to get that working?

[2020-01-18 23:52] vgrafe commented on #69
Something is off indeed. The auth on the live demo is not working. I'll look into why this weekend.

[2020-01-20 15:19] balazsorban44 commented on #69
I have the same issue. I am a *noob*, but with some `console.log`-ing, I found out, that at this point: https://github.com/auth0/nextjs-auth0/blob/7a4a33c4e603b8f2a9e4db8bd05850ddb15e95bb/src/handlers/callback.ts#L47

`session` still has `accessToken`, so something after that might screw it up.

I don't know if it is helpful information, just wanted to share.

[2020-01-22 09:33] fortunee opened #70 "App hosted on zeit/now is being redirected to a 502 BAD_GATEWAY error after user login"
### Description
The page is redirected to a 502 BAD_GATEWAY error after user login, it happens intermittently to specific users.

### Reproduction
- The user navigates to `/login`
- Auth0 default login page is loaded
- User enters credentials
- User is redirected to 502 error

### Code sample to reproduce the issue
[code]
### Screenshots
<img width="1792" alt="Screen Shot 2020-01-21 at 2 01 04 PM"

[2020-01-22 16:53] BjoernRave commented on #21
For me this error persists. I have no idea what to do about it really.

I triple checked all the points mentioned above. I am using `nvm` with `nvm use 12.12.0` to set the right node version. I have the algorithm set to `RS256` and `OICD` turned on.

The weird thing is that on my backend I am actually able to authenticate the request with the accessToken and can console.log the scope and permissio

[2020-01-23 09:17] Afsoon commented on #21
@BjoernRave can you create a minimal project or link to repository to check the code?. Because this way I can't know why is the problem.

[2020-01-23 10:24] BjoernRave commented on #21
@Afsoon okay, I created a minimal project: https://github.com/BjoernRave/Auth0-Urql-Nextjs-Prisma2

[2020-01-23 23:32] semyou commented on #69
Has this been investigated?

[2020-01-25 07:01] Afsoon commented on #21
Hello @BjoernRave ,sorry for my late response I was a bit busy theses days,  after check you repository I found your problem. The configuration is almost correct, you have the same misunderstood that I had with `accessToken`, If I am not wrong, the `accessToken` is a value to interact with Auth0 API not external resources. Due that `accessToken` is not a JWT, you API is always complaining for the

[2020-01-25 10:36] Afsoon commented on #69
About this issue, can you make an example repository?. Because I have a project with Hasura, Apollo and Auth0, with SSR, working without problems.

The only way to retrieve the `idToken` remember is in the API and using the method `getSession`. You have a small explanation in this comment I made in another issue https://github.com/auth0/nextjs-auth0/issues/21#issuecomment-578383434

[2020-01-25 11:05] BjoernRave commented on #21
@Afsoon first off, thanks for trying to help me :)

Are you sure that the idToken is the only way to authenticate my request, because the accessToken is also a JWT in my case and my backend is also able to verify and decode it.

Referring to stuff from here: https://auth0.com/docs/tokens

When using the idToken my backend is also able to verify and decode it, but I still get the `invalid algorithm

[2020-01-25 11:22] tobkle commented on #69
@Afsoon We can use also the example you've already checked. It is the very same problem there. I tried also [https://github.com/BjoernRave/Auth0-Urql-Nextjs-Prisma2](https://github.com/BjoernRave/Auth0-Urql-Nextjs-Prisma2) and read your comment. I have the very same problem:

If I set in lib/auth0.ts
[code]
The login isn't successfully processed any more.
In console I see a message:

```has access

[2020-01-25 11:28] tobkle commented on #69
@Afsoon However, I would be also interested in your Hasura example, I haven't worked out yet, how to proxy the Hasura call within /pages/api/hasuracall.ts

[2020-01-25 12:02] Afsoon commented on #21
About the access token, I'm sure, as you can find the documentation that you listed, the access token isn't always an JWT, it can't tell you if an user is authenticated and it is use to grant permission for an application.

If you are still having the same error, check the configuration if your library it's using the same algorithm to decode the JWT as Auth0.

If you are using another backend appl

[2020-01-25 12:23] Afsoon commented on #69
I forked the project from the other issue and made the changes I said in the comment, https://github.com/Afsoon/Auth0-Urql-Nextjs-Prisma2, in the following screenshot can you notice in the first load the idToken is null, because I never logged but after the login you can see the token in the console:

<img width="1680" alt="imagen" src="https://user-images.githubusercontent.com/713534/73121000-358

[2020-01-25 12:51] tobkle commented on #69
Interesting. Copied your code and still don't get the idToken. Anything wrong with my Auth0 setup?
[code]
Then my Auth0 settings must be somewhere wrong and I don't understand the logic.

I did the following:
1. Created an Application within Auth0.
Used the domain, clientId and clientSecret from the Application in the env variables
2. Created an API with identifier 'inventhora.com/api/graphql' use

[2020-01-27 11:44] BjoernRave commented on #21
but if I am using RS256 (which I am), I think the accessToken is always a JWT. Also looking at the example provided in the repo: https://github.com/auth0/nextjs-auth0/tree/master/examples/api-call-example they are also only using the accessToken.

[2020-01-27 12:00] BjoernRave opened #71 "Getting "invalid algorithm" when querying API"
When trying to authenticate my requests against my API, I keep getting the following error:

[code]
My setup on Auth0 is one application, which is my frontend and one API, which is my backend. On the frontend I used the identifier of the API as audience.

My application settings:
<img width="1440" alt="Screenshot 2020-01-27 at 11 53 53" src="https://user-images.githubusercontent.com/36173920/73173

[2020-01-27 17:00] balazsorban44 commented on #69
I also experimented a bit, and looks like if I remove `Iron.seal` and `Iron.unseal` at: https://github.com/auth0/nextjs-auth0/blob/5db64aa053bd6fd1c03afeabbedbf9260c026519/src/session/cookie-store/index.ts#L33
and:
https://github.com/auth0/nextjs-auth0/blob/5db64aa053bd6fd1c03afeabbedbf9260c026519/src/session/cookie-store/index.ts#L73

I get the `idToken`! So my theory about a too large cookie see

[2020-01-27 17:50] matthieuh commented on #67
I would suggest you to avoid using the idToken on the client side. If you need to authentify http/ws calls I would suggest you to proxify your calls putting the bearer token on server side. For example you can have a `pages/api/fetch.js`page using `http-proxy-middleware`.

[2020-01-27 22:48] vgrafe commented on #67
That's a good suggestion. I hope I can put some time in fixing my public repo soon. Thanks!

[2020-01-27 23:04] matthieuh commented on #67
@vgrafe if you struggle on this feel free to ask :) I have some code samples

[2020-01-28 12:51] semyou opened #72 "Struggling to customize the login/signup pages"
### Description

Is it possible to customize the forms and use my hosted ones on my own site with this module? Or do I need to install also nextjs-spa-js?
I noticed also that language setting from the form handleLogin doesn't work with the classic experience. Is this normal and expected? But it works on the new experience with ui_locales. However, the new experience is very limited and you cannot

[2020-01-28 15:49] reda-jaifar opened #73 "cannot retry login after faillure, always router to error page"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-01-29 09:29] dizzyn opened #74 "Add Refresh Token Example"
Please add simple example of token renewal or describe whole case in the documentation the same way the login/logout/me... are described.

Thank You :)

[2020-01-29 16:45] vgrafe commented on #67
@matthieuh I'd love to see that! I can't spend lots of time on this repo these days, and since it has a few stars I'd love some help providing best practices rather than something that is not recommended. Feel free to post on my repo's issue or here.

[2020-01-30 22:40] BarryThePenguin opened #75 "checkSession() equivalent"
### Describe the problem you'd like to have solved

Having access to the `openid profile email` scopes is great 🎉

And similar to #45, there are ways to include metadata in the idToken

But if the metadata changes, it's not clear to me how I could get that information for the current user without getting them to refresh their idToken. The only way I know how to is to log out, and back in again?

#

[2020-01-30 23:27] readeral commented on #75
The [User Profile](https://github.com/auth0/nextjs-auth0#user-profile) section in the docs has an example of refetching the user, if this is what you're after

[2020-01-31 01:14] BarryThePenguin commented on #75
Thanks! Looks like that allows me to refetch the user data, but it uses the request by responding with `json(updatedUser)`

https://github.com/auth0/nextjs-auth0/blob/5db64aa053bd6fd1c03afeabbedbf9260c026519/src/handlers/profile.ts#L45-L51

This is currently happening on a success redirect from the Stripe payment. I'm needing to redirect to another url instead 💭

[2020-01-31 12:29] ian-speers commented on #26
Closing as done — please feel free to re-open this, or create a new issue if you need anything else. Thanks for your contribution!

[2020-01-31 12:29] #26 closed

[2020-01-31 22:21] PacoVK commented on #42
Running in the same issues... Is there a solution?
 "@auth0/nextjs-auth0": "^0.10.0"
"next": "^9.1.4"

[2020-02-01 10:53] ian-speers commented on #32
Thank you for contributing your findings back to the community 🙇

[2020-02-01 10:53] #32 closed

[2020-02-03 20:20] matthieuh commented on #67
Hello @vgrafe I have a `pages/api/graphql.js` file with something like this:

[code]

Then you just need to call `api/graphql` as graphql endpoint without taking care at all of the bearer token.

Something to note is that this proxy will not work with subscription which are using  websocket. So to make it works I added an other file `` with

[code]

[2020-02-03 21:07] shansmith01 opened #76 "Example client side with ApolloClient header token"
### Describe the problem you'd like to have solved

I am having difficulty figuring out how to use this library with Apollo Client.

Detail: I have a nextjs app with accesses an external api (hasura) which require JWT authentication. I would love a best practice example (that ideally does not use local storage) for passing a JWT token (specifically hasura uses the idToken) in the request header fr

[2020-02-03 21:10] shansmith01 commented on #67
Thanks for the above code @matthieuh. Any chance you can provide the client side code?

[2020-02-03 21:24] shansmith01 commented on #69
Hey @Afsoon. Any chance you can share your repo. I am also working on a project with Hasura, Apollo and Auth0, with SSR. I am going nuts figuring out a good way to pass the idToken from the backend into the apolloClient headers

Thanks

[2020-02-03 21:30] aphillipo opened #77 "Cypress Testing with this library and RPError: missing required property at_hash"
### Description

I need to be able to programatically login to auth0 with Cypress using this method: https://auth0.com/blog/end-to-end-testing-with-cypress-and-auth0/

### Reproduction

Following the tutorial (there is too much config for me to duplicate that here) and when calling /callback I receive this error:

RPError: missing required property at_hash
    at Client.validateIdToken (/Users/aph

[2020-02-03 21:34] aphillipo commented on #77
Why does Auth0 give me an access token that does not have at_hash?

[2020-02-04 02:19] vgrafe commented on #67
Wow! Thank you. I'll update my repo sometime this week.

[2020-02-10 23:57] BjoernRave commented on #71
still waiting...

[2020-02-15 05:15] acockerham opened #80 "Allow custom Token Algorithms"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-02-16 20:28] BjoernRave commented on #71
I was able to fix the problem thanks to @BryceAMcDaniel
It was actually not an error caused by auth0, but something else in my code

[2020-02-16 20:28] #71 closed

[2020-02-16 21:52] Lapz commented on #60
So I was looking into this and the issue is that you're using the `use-auth0-hooks` whilst also using `nextjs-auth0` to fix it replace the onClick handler with href="/api/login" and it should work.

[2020-02-17 06:48] awalias commented on #45
was anyone able to find a solution?

[2020-02-19 23:54] aldrinc opened #82 "Error loading script /pages/api/login.js"
### Description

I'm receiving a error loading script console error on the /api/login page even though it functions correctly. You can view the issue here for more detail and a trace: https://sentry.io/share/issue/0e07b3b5f7574692a53550021f91eca3/

I'm using the vanilla /api/login.js shown in the docs.

Here's my api/login.js copy and pasted.

[code]

### Reproduction
* Open up[ jumpstartfilings.c

[2020-02-22 08:19] abusada commented on #27
Hello, @vasco3, Did you get this to work?
I also need to use a custom login form, and the solution above results in a `state mismatch` error thrown by the `node-openid-client` library.

[2020-02-25 14:48] FadyMak commented on #82
Hey @aldrinc 👋 Could you share your directory structure please? I'm seeing a 404 in the console when attempting to load the `/api/login.js` asset in the website you linked to

[2020-02-25 14:59] FadyMak commented on #80
Hi @acockerham 👋 I'm afraid this goes beyond the scope of this library as Auth0 only supports the issuance of tokens using `RS256` and `HS256`. You can, however, create an OIDC connection in Auth0 which would allow your users to authenticate through that IdP and have Auth0 handle the user management and securing any APIs you might have: https://auth0.com/docs/connections/enterprise/oidc

[2020-02-25 14:59] #80 closed

[2020-02-25 19:46] tobkle commented on #69
Still don't get any idToken. Tried a lot meanwhile. But it looks like there is no support. So I no longer consider Auth0 for my development.

[2020-02-25 19:46] #69 closed

[2020-02-26 11:00] matthieualouis opened #83 "Allow for server-side operations on authentication callback"
We'd trying out this library to add authentication to a new Next.js project. Everything seems to work nicely, however I think the callback handler can be improved.

When a user signs-up, and is redirected to `/api/callback` for the `callbackHandler` to perform the code exchange with Auth0, I would like to perform some operations on our database before the user is redirected back to the application

[2020-02-27 04:45] HurricaneInteractive commented on #83
@matthieualouis the redirecting is baked into the `handleCallback` method ([See the source](https://github.com/auth0/nextjs-auth0/blob/master/src/handlers/callback.ts#L50)).

What you could try (might not be the nicest thing though), is set the `redirectTo` to a different `api` route and then fetch the [current user](https://github.com/auth0/nextjs-auth0#user-profile) and perform your database ope

[2020-02-27 11:58] jvgreenaway commented on #16
I've tried all the options suggested on this issue but I cannot get this working – I land on the sign in view every time. I‘m using the universal login form.

Has anybody managed to get this to work recently?

[2020-02-27 15:28] tomclark opened #84 "withAuth missing call to child component's getInitialProps"
I was working my way through the basic example in the repo and noticed that getInitialProps on my components wrapped with the withAuth HOC is never called. I added a call to it in the HOC, and it seems to have resolved the issue:

[code]

Are there any issues with calling the child method this way? Might it be appropriate to update the example to include this call if this is the right way to do it

[2020-02-27 22:09] HurricaneInteractive commented on #14
@niicojs Another issue had this query. Have a look at the [comment I left](https://github.com/auth0/nextjs-auth0/issues/83#issuecomment-591778387) (auth0 hooks, may not apply though)

Hopefully, it helps in some way

[2020-02-27 22:13] HurricaneInteractive opened #85 "Add "Stale" to project"
### Describe the problem you'd like to have solved

At the moment there are currently quite a few issues created that haven't been active for quite a few months. It would be good to auto-close them if they aren't being worked on.

### Describe the ideal solution

Github has a app that can be installed called [Stale](https://github.com/apps/stale) which would help with this.

[2020-03-04 09:54] jey3dayo opened #86 "Can't build on docker."
### Description
When doing a docker build, an error occurs because there is no environment variable in the `next build`.
I want to `next build` without env.

[code]

[code]

### Environment

- node@v12.15.0
- @auth0/nextjs-auth0@0.10.0
- next@9.2.2

[2020-03-04 15:26] ashoksudani opened #87 "Compatibility with NextJS version 8.1"
Hi,
Is there any possibility that I can use this library with NextJs version 8.1 ? Checking possibility as my project is huge and using large no of packages which are tightly coupled with NextJS version 8.1

[2020-03-09 20:22] schwamic commented on #69
@tobkle maybe this can help you:

#### lib/auth0.js

[code]

#### apolloClient.js

[code]

#### api/session.js

[code]

#### Steps

##### Auth0

- Generate Auth0 Regular Web App (Next.js)
- Generate Auth0 API with audience ('myaudience')
- Add rules to set tokens and sync with hasura backend; (docs)[https://hasura.io/docs/1.0/graphql/manual/guides/integrations/auth0-jwt.html#test-auth0]

##### Has

[2020-03-11 03:44] aldrinc commented on #82
Hi @FadyMak - sorry for the late response here.

![Screen Shot 2020-03-10 at 10 43 51 PM](https://user-images.githubusercontent.com/11620239/76380420-b2515780-6320-11ea-89ac-2713c0ba6c9b.png)

[2020-03-11 03:45] #63 closed

[2020-03-17 15:33] juanzgc commented on #45
^ Would be great to find a solution

[2020-03-17 15:37] kavuri commented on #45
I was making a separate call on server-side using the 'sub' field of the logged in user to get the full user information

[2020-03-17 16:18] juanzgc commented on #45
Would you mind sending a code snippet?

[2020-03-17 20:58] #65 closed

[2020-03-18 10:13] kavuri commented on #45
Like the following

[code]

[2020-03-20 01:45] semyou opened #89 "How do you update user profile?"
### Description
I am getting this error whenever a user tries to update their profile data. What and where should I set the scope to allow the user to update their profile?

[code]

 To reproduce, I have a form that the user fills and then submits to an api behind /pages/api/ of next v9. This is the api content:

[code]

### Environment
Using v0.10.0 version

[2020-03-21 20:08] kkomaz opened #90 "The user does not have a valid access token via getAccessToken"
### Description

What does it mean when a user does not have a valid access token?  I looked outside of this library package and was able to find the access token via `/oauth/token` endpoint via POST but not sure why this function does not work out of the box?

### Reproduction
In my `pages/account` page I do the search for access token

[code]

### Environment
[code]

[code]

[2020-03-24 13:49] RyGuyM opened #91 "Malformed Response Cookie"
### Description

Setting the a0:session cookie fails in Chrome with the error `Malformed Response Cookie`. This is due to the size of the cookie being greater than the allowed 4096 bytes. I'm not sure there is anything particularly special about our use case, it is only slightly extended from the default.

### Reproduction

To reproduce there needs to be enough data in the user, idToken, and acces

[2020-03-24 13:50] RyGuyM commented on #91
I know this would add additional complexity to the library but would there be any willingness to accept a PR that splits the session into multiple cookies?

[2020-03-27 02:38] thierryMic commented on #90
It looks like you have not set an audience in you config.

[See calling an API section](https://github.com/auth0/nextjs-auth0).

Having said that i did set an audience on my config and i am still getting the same error as you.

[2020-03-27 23:25] balazsorban44 commented on #91
I came to the same conclusion here https://github.com/auth0/nextjs-auth0/issues/69#issuecomment-576319469 but did not pursue a solution.

[2020-03-31 00:27] sandrinodimattia commented on #74
You shouldn't have to care about a refresh token since the library handles it for you, eg on this line of code you'll receive a new access token if your existing one is expired:

https://github.com/auth0/nextjs-auth0/blob/master/examples/api-call-example/pages/api/shows.js#L9

[2020-03-31 00:29] sandrinodimattia commented on #91
I think sending a PR that is able to split the session into multiple cookies is fine (Microsoft's ASP.NET does this), however we'll need to consider the impact on Safari which has domain level limits (so you can't keep adding things forever).

[2020-03-31 00:31] sandrinodimattia commented on #90
Correct. @kkomaz you'll first need to create an API in the Auth0 dashboard and then use the identifier of the API as the audience when configuring the SDK: https://github.com/auth0/nextjs-auth0/blob/master/examples/api-call-example/lib/auth0.js#L5

[2020-03-31 00:32] sandrinodimattia commented on #87
This library has not been tested on Next.js 8 or below, so I can't guarantee with certainty that this will work.

[2020-03-31 01:23] semyou commented on #89
@sandrinodimattia any guidance will be very much appreciated.

[2020-04-01 17:43] FacundoMalgieri opened #94 "Question: Login/Signup without redirecting to Universal Login"
I'm working on a NextJs project in which I have my custom login page.
I was wondering if I could use this package to authenticate but without redirecting to Auth0's Universal Login.
In case I cant, could you point me in the right direction? The only constraint I have is to avoid having sensitive data Client side, that's why I'm using the pages/api approach, using my .env sensitive vars from there

[2020-04-01 19:22] sir-dunxalot commented on #57
Hi all. Any update on this? I use Auth0 because I'm not that familiar with the nuances of authentication and I'm worried my Next & Auth0 apps aren't correctly authenticated client-side.

Possible solutions include:

- Adding a warning to documentation, if applicable, saying "Note: You must implement your own client-side auth using Auth0's JS library"
- Pointing users to implement a second Auth0 li

[2020-04-02 03:07] imaccallum commented on #60
I set up my login route at `/login/auth0` and my callback route at `/oauth2/callback` and ran into this same error. Turns out the `cookiePath` is not set in the login handler so those cookies exist at the directory above the current uri according to the algorithm defined by [RFC 6265](https://tools.ietf.org/html/rfc6265#section-5.2.4) causing my `state` cookie to be stored at the path `/login` and

[2020-04-03 01:49] nodabladam opened #95 "account-link extension causes "OPError: access_denied (Cannot read property 'email' of null)""
If I enable this extension in auth0, https://auth0.com/docs/extensions/account-link, I get this error when creating new users:
[code]
The user is created in auth0, but this error is thrown in the callback.

If I disable account-link extension in /dashboard/us/`<tenant>`/rules, new users can be created again.

The user is created in the auth0 interface but seems stuck.
Not sure if this helps but if

[2020-04-07 21:14] mottet-dev commented on #89
Have you tried adding `update:users` or any of the other permissions mentioned in the error to the scope settings that you pass to the `initAuth0` function?

[2020-04-07 22:25] Nobotym commented on #16
Try this:
`{ authParams: { screen_hint: 'signup' } }`

[2020-04-08 01:45] nodabladam commented on #77
@aphillipo I have just run into the same thing.  Did you get past this?

[2020-04-08 09:44] aphillipo commented on #77
I would seriously consider not running this library as it doesn't work :-/

And seemingly isn't supported even though we all pay auth0 money. Weird.

Just remember that most of this stuff is http(s) calls and JWT token verification and storing the token to set headers (or a cookie). If you are changing away from this I would just do it yourself and you'll understand the flow properly.

However, it

[2020-04-09 05:53] huang47 commented on #86
when I do `next build` it works for me, however, when I tried to deploy to zeit.co (through `now`) which ends up seeing this error.

[2020-04-09 14:42] tylermenezes opened #96 "Redirect loop with getSession if cookieSameSite is strict"
`getSession()` returns `undefined` until the next "real" page load after logging in when the cookie samesite policy is set to strict, [due to browser security restrictions.](https://bugzilla.mozilla.org/show_bug.cgi?id=1465402) This leads to a redirect loop upon first login if the homepage is expecting the user to be logged in.

This isn't really a "bug" exactly, but it should be added to the READ

[2020-04-09 16:37] nodabladam commented on #96
When I try to use nextjs-auth0 with Cypress, my first test always fails with a login redirect loop and then the rest of the tests are logged in and work.  I have been unable to figure out why and wonder if this is a hint in the right direction.

[2020-04-09 16:39] tylermenezes commented on #96
Luckily once you know what to look for this is relatively easy to test -- you should be able to see the request going through without a cookie header in the web inspector network tab :)

[2020-04-10 03:37] huang47 commented on #86
I used env variables via process.env and when use `now` it doesn't take .env into account even with dotenv-cli. hardcode it in initAuth0 which works for me tho

[2020-04-10 05:49] huang47 commented on #86
https://zeit.co/docs/v2/build-step#using-environment-variables-and-secrets

environment variables for build time needs `now.json` plus `now secretes` once you have those configured in docker file it should work fine

[2020-04-10 10:04] GriffinSauce opened #97 "Callback and preview deployments"
### Description

When using preview deployments with Zeit Now the domain for the deployment is not know to the application at build or startup. There are no environment variables that provide this information but it is possible to get the host from a particular request.

This means that the appropriate callback URL (`redirectUri`) is not known at the point that this library expects it to be config

[2020-04-10 10:19] GriffinSauce commented on #97
Another alternative by the way is to instantiate this at every call of the API so the settings can be customised per call but that is not how the docs currently describe the usage and I'd be afraid of unforeseen issues.

[2020-04-13 06:01] sir-dunxalot commented on #77
@aphillipo @nodabladam I think I have figured out a good workaround for Auth0, Next.js, and Cypress, [documented here](https://gist.github.com/sir-dunxalot/8b8539a0baf4e76490991c3cd4c4401d).

This workaround copies the functionality of this library whilst avoiding the seeming incompatibility of the `password` grant type with the expectation this library has for  `responseType: 'code'`.

[2020-04-13 18:57] nodabladam commented on #77
@sir-dunxalot Quick test seems to confirm this works!  Brilliant!!

I needed to:
* comment out `cy.visit("/profiles");` because I think that path is something app specific
* change my Tenant > General > API Authorization Settings > Default Directory to `Username-Password-Authentication` to avoid `Authorization server not configured with default connection.`  I wonder if this can be passed in with

[2020-04-13 18:59] sir-dunxalot commented on #77
Correct on both counts. I will update the gist.

(This only took me a few days to figure out 🙃)

[2020-04-13 23:17] nodabladam commented on #77
@sir-dunxalot While running this I happened to get `Error: Too Many Requests`.   It might be desirable to whitelist the session cookie and only login if it doesn't exist.  This is an attempt at that

[code]

[2020-04-14 07:29] GriffinSauce commented on #97
Well, they beat me to it, `NOW_URL` has returned:
https://zeit.co/blog/environment-variables-ui

[2020-04-14 07:29] #97 closed

[2020-04-14 08:34] fortunee commented on #77
Hey, @sir-dunxalot I tried your implementation but I'm still being redirected to the auth0 login screen when I try to `cy.visit` a protect route in my application right after `cy.login`.

I'm not sure what I'm missing here. 🤔

I have password grant type enabled in my auth0 application and I have my `Tenant > General > API Authorization Settings > Default Directory to Username-Password-Authenticati

[2020-04-15 16:36] nodabladam commented on #77
@fortunee
* are you using custom domains?  make sure your urls are correct
* are you setting any cookieSameSite values?  I don't set anything but certain settings might cause issue in testing?
* I happen to be disabling web security still as remnant from past runs and wonder if that is necessary to avoid redirect
cypress.json
[code]

[2020-04-15 18:17] nodabladam commented on #95
Anyone else successfully able to use "link-users-by-email" rule?

[2020-04-15 19:21] kjkurtz commented on #16
I tried both of these in different configurations:
`      authParams:{
        initialScreen: 'signUp',
        screen_hint: 'signup'
      }`
And I still ended up with Sign In not Sign Up. So no-go on my end right now!

[2020-04-15 21:06] fortunee commented on #77
@nodabladam Thank you very much ❤️

Disabling chrome web security did the trick. Awesome stuff!

[2020-04-16 00:08] sir-dunxalot commented on #77
I've added a suggestion to try `"chromeWebSecurity": false` in the gist. For the record, I do not have this option set in my project so it seems like it is necessary in some situations and not others. It would be handy to know why it's required in some cases but that's a nice-to-have right now (at least our test suites are functional!).

I hope to soon publish a repo for this setup soon. Feel free

[2020-04-17 03:27] acecauis opened #99 "Documentation could be clearer for JS"
Hi,

I went through your documentation and was led to making a post on the Community forums of Auth0; however, it was suggested I report an issue here. So below is a short explanation to reproduce my situation and a more detailed description of my main concern.

### To summarize steps to reproduce my issue:
I went through the documentation and went ahead to copy the files contained in the `/basic-

[2020-04-18 22:30] kkomaz commented on #90
@sandrinodimattia

I adjusted my audience but now getting a error of `Response is not available`

[code]

[2020-04-18 23:02] kkomaz commented on #90
@sandrinodimattia Can you help me understand how scopes work?

Doing the following below returns me a access token but I get a `UnauthorizedError: jwt audience invalid.`

[code]
I believe I added the appropriate privileges in the dashboard via below and authorized machine to machine specific to my app.

![Screenshot of Brave Browser (4-18-20, 7-00-28 PM)](https://user-images.githubusercontent.com/

[2020-04-18 23:50] kkomaz commented on #90
I resolved my issue.  It looks like my audience value was a mismatch between my front-end and server api.

If i may ask, how does the scope associate to my custom endpoints?

for example if I do
`app.put('/api/tools/update')` do I need a scope `update:tools`?   I can't seem to wrap my head around the magic of  associating the two together

[2020-04-22 00:43] if1999615 commented on #94
+1 on this. Would love to see an implementation/example without the redirect 👍

[2020-04-22 15:30] civerazdaM opened #100 "Using client.endSessionUrl instead of hardcoded url for logout"
### Describe the problem you'd like to have solved

I see that logout handler has hardcoded url, and not the one that could be generated from the client.endSessionUrl. If that would be the case, then it could be used for various providers. I am wondering would you have something like that in mind, or maybe you would prefer that it stays coupled to this specific logout endpoint of auth0 implementat

[2020-04-22 18:23] remiroyc commented on #83
I'm agree with @matthieualouis request. I think that would be good if handleCallback can return ```session.user``` directly or take a callback function.

Because, as the auth0 doc specifies, I had to synchronize - after each logins - user data in my own database.

[2020-04-22 18:53] kwiss commented on #83
@HurricaneInteractive Auth0 hooks, seems to be a sad solution since with that we can't deploy feature branches, staging and production environnement with differents databases

[2020-04-23 05:09] k-patton commented on #90
@kkomaz could you elaborate on the mismatch? I'm having the same issue where I'm getting back an access token that is not a valid jwt (much shorter) and I've set my scopes and api_audience.

[2020-04-23 05:45] k-patton commented on #90
Actually I take that comment back. Don't forget that after you add an audience, the previously created users will have the wrong audience and retrieving their JWT will not work. Go under the "authorized applications" and you'll see the wrong audience listed with old users. Revoke that and reauthorize and you should be good to go

[2020-04-24 13:45] livelo-app commented on #94
Yes you can, but you will also need to use: [auth0-js](https://auth0.com/docs/libraries/auth0js/v9)

I have created my own UI and used auth0-js WebAuth.login() to pass in the email and password field from my custom form. Then I use auth0/nextjs-auth0 Callback to save the user's session. One thing you'll need to do is pass the state which I created a pull request to add the capability. It is only a

[2020-04-25 12:27] tylermenezes commented on #60
This can also be caused by having more than ~1k of custom claims and/or user_metadata in the ID token returned to auth0. (I didn't verify the exact number, but it seems to happen somewhere around there.)

This project sets the session information in a cookie called a0:session, which includes the access_token, id_token, refresh_token, scopes, user object, and created_at. If the encoded size of that

[2020-04-25 19:08] remiroyc commented on #72
nextjs-auth0 use auth0 universal login. When the user signin, your app redirect the user to Auth0. After the transaction is completed Auth0 will redirect the user back to your application.

By default auth0 provides default look and feel for your universal login pages but you can override it using custom HTML.

Go to your ```auth0 dashboard > Universal Login > Login```

![Capture d’écran 2020-04-

[2020-04-27 01:49] corysimmons commented on #60
`auth0.getSession()` works `getInitialProps`, but when you swap `getSession` out for a `fetch` you get this error.

Looks like Auth0 stopped working on this about a month ago. Auth0 full/modern NextJS support when?

[2020-04-27 19:01] nodabladam commented on #60
I see "Error: Invalid request, an initial state could not be found" in my logs in the catch of `/api/callback.js` but it is infrequent so I can't figure out why it is happening to some users.

[2020-04-27 19:07] tylermenezes commented on #60
Could be because you aren't forcing HTTPS when hitting the initial `/login` page.

Another reason could be if your site is available from multiple domains, but the callback URL is always a fixed domain. (eg, `https://foo.example.com/api/login` -> auth0 -> `https://bar.example.com/api/callback`)

[2020-04-27 21:33] nodabladam commented on #95
Turns out this was my fault.  We had a variation of forcing email verified rule enabled (https://auth0.com/rules/email-verified) which was causing a null to be sent along.  After disable that rule everything works.

[2020-04-27 21:33] #95 closed

[2020-04-29 01:52] davegomez commented on #60
I'm getting the same message every time a new user tries to log in and I'm using the example found in this repository.

Here is the response I'm getting:
[code]
For more information I'm attaching the HAR file.

[wrecking.now.sh.zip](https://github.com/auth0/nextjs-auth0/files/4549437/wrecking.now.sh.zip)

And you can test it deployed in Now using this link https://wrecking-iw5k8yaz5.now.sh/

[2020-04-29 02:12] tylermenezes commented on #60
If you include the full logs it may be more helpful (in Firefox you have to tick "Persist Logs," not sure about Chrome). I can definitely say that your browser is not sending back the correct cookies when it hits /callback, but I have no idea as to why without seeing the Set-Cookie header from the /login request.

[2020-04-29 12:10] davegomez commented on #60
Ok @tylermenezes I made the test using FF in the Now deployed version and saved the HAR files.

The first time I got the `Invalid request, an initial state could not be found` response.

[ff-first.zip](https://github.com/auth0/nextjs-auth0/files/4551504/ff-first.zip)

The second time I tried I got `id_token not present in TokenSet`.

[ff-second.zip](https://github.com/auth0/nextjs-auth0/files/4551

[2020-04-29 12:59] tylermenezes commented on #60
Again for any future problems you might have, this needs to include the _full_ logs including /login to be helpful. You only captured the part _after_ /login, but the /login response is the problem with this error code.

Anyway I tried registering for myself on the site. Your site is available from multiple domains, but the callback URL is always a fixed domain. Here you can see the problem in the

[2020-04-29 13:22] davegomez commented on #60
@tylermenezes that makes sense, but that is the domain Now generates with the continuous deployment. Is there a way to fix this or it would be impossible to use the system with this feature from Now?

[2020-04-29 15:04] tylermenezes commented on #60
You have to set `redirectUri` and `postLogoutRedirectUri` in initAuth0 based on the current domain.

You could do this by either:

- Calling initAuth0 within your API routes directly, and getting the current domain from `req`
- [Having Now/Vercel set the `VERCEL_URL` environment variable,](https://vercel.com/docs/v2/build-step#system-environment-variables) adding that to your `next.config.js`, and

[2020-04-29 17:48] proko commented on #90
I had the same issue and appeared to be because of misreading/misunderstanding the documentation.

I thought that the above was referring to:

but apparently  it is about the **Getting an Access Token** process in general. So until you set the option to persist the access token, you'll be getting the error.

I am not sure about the `storeRefreshToken` option. I got it working without it (for now).

[2020-05-01 17:36] semyou commented on #89
I tried it. No success.
@sandrinodimattia can you please help by providing guidance?

Thanks,

[2020-05-01 17:38] semyou commented on #89
I am thinking to dump auth0 completely. There is 0 answers to issues/questions and even worst you cannot comment on the community website on auth0.com because your account is new. That's a catch 22. What a terrible experience!

[2020-05-01 17:43] semyou commented on #85
100%

[2020-05-04 04:49] derrickpelletier commented on #83
I did what @HurricaneInteractive suggested with overriding the `redirectTo` with _another_ callback page that handles the sync with our backend, then performs the intended original redirect. It works.

I've had to do hacky solutions to get around the redirects in `handleLogout` and `handleProfile` as well 😟

I do think there'd be value in being able to call _most_ of the methods here without impli

[2020-05-07 16:32] billymccafferty commented on #3
I'd like to revisit this question. Does anyone have an example of using the Lock widget within a Next.js application. A plunkr or similar example would be immensely assistive. Thank you!

[2020-05-09 22:06] GriffinSauce opened #103 "Typescript question: getSession return type does not seem to conform to docs example"
The `getSession` function has a return type `Promise<ISession | null | undefined>`

In the [readme ](https://github.com/auth0/nextjs-auth0/blob/master/README.md#user-profile) the suggested use is as follows:

[code]

This fails in TypeScript because you might be destructuring `null` or `undefined`.

So my question is: is that example overly optimistic for assuming session will always be returned o

[2020-05-10 19:27] LeakedDave commented on #94
Any update here?

[2020-05-11 09:17] sandrinodimattia commented on #103
Thanks for calling it out, docs were updated 👍

[2020-05-11 09:17] #103 closed

[2020-05-11 09:21] #87 closed

[2020-05-11 12:36] sandrinodimattia commented on #100
Added as part of [v0.12.0](https://github.com/auth0/nextjs-auth0/releases/tag/v0.12.0)

[2020-05-11 12:36] #100 closed

[2020-05-11 12:39] sandrinodimattia commented on #83
Added as part of [v0.12.0](https://github.com/auth0/nextjs-auth0/releases/tag/v0.12.0)

You can now inject logic right before the session is created. It can be used to control what goes in the session, call your own backend (eg: to provision a user), prevent the user from signing in, ...

[code]

[2020-05-11 12:39] #83 closed

[2020-05-11 12:41] sandrinodimattia commented on #73
Unclear what this issue is about, will close it for now. Feel free to re-open if you have more information.

[2020-05-11 12:41] #73 closed

[2020-05-11 12:43] sandrinodimattia commented on #49
Starting from v0.12 you have better control over the state to include a `redirectTo`

[code]

[2020-05-11 12:43] #49 closed

[2020-05-11 12:44] sandrinodimattia commented on #14
This is now supported in v0.12:

[code]

[2020-05-11 12:44] #14 closed

[2020-05-11 12:44] sandrinodimattia commented on #74
Closing this one due to inactivity, feel free to re-open if you need more help.

[2020-05-11 12:44] #74 closed

[2020-05-11 13:47] aaron-fuleki commented on #84
@tomclark did you ever get an answer to this? I'm also seeing something weird, where `withAuth` seems to be firing `auth0.getSession()` on client renders, so it says `Error: The getSession method can only be used from the server side`, then it dies.

I thought `getInitialProps()` was guaranteed to be server-side only?

[2020-05-11 17:46] derrickpelletier commented on #83
@sandrinodimattia is there a plan to add similar apis to the other handlers? Seems like a some of the other ones could benefit from this flexibility as well.

[2020-05-12 02:36] markau commented on #47
My question is not so much about how long it might take, but more an assurance that it is part of the auth0 strategic direction; that I can start to build a project based on nextjs and this library.

[2020-05-12 02:43] balupton commented on #47
At @bevry we looked into using this, as it is also used by the nextjs auth example:

- https://github.com/zeit/next.js/tree/canary/examples/auth0
- https://github.com/zeit/next.js/tree/87e096eb5b196d37be492b3b0ed250ebedfb4e8d/examples/auth0

And got something rudimentary up and going:

- https://github.com/bevry/fountain

However, it was a lot more tricky than we thought it should be, so now looki

[2020-05-12 03:17] markau commented on #47
Thanks for passing on your experience @balupton

It seems the architecture of nextjs makes this harder than it would otherwise be. I am not sure why the backend need be involved at all. Following the Auth0 docs and library for Angular, I had a workable application up and running in a day using Code flow + PKSE authentication, and role-based authorisation to an external API. That's the level of abs

[2020-05-12 09:26] GriffinSauce commented on #103
Great!

Is my interpretation correct that it might be undefined (on the client) in getInitialProps but will always return a session in API functions?

[2020-05-12 15:24] sandrinodimattia commented on #83
Feel free to open separate issues if you have additional use cases.

[2020-05-13 18:06] bnd5k opened #104 "Email Verification Workflow"
### Describe the problem you'd like to have solved

Would it be possible to create a profile but not receive a session cookie for that profile?  I would like to require email verification, ala [ https://auth0.com/rules/email-verified]( https://auth0.com/rules/email-verified).  The documentation mentions `Lock` and `auth0.js`, but I don't see any equivalent in `nextjs-auth0`.

### Describe the idea

[2020-05-13 19:19] krystian50 opened #105 "Get user information by cookie"
### Description
I'm trying to inform fronted if a user is logged in or (best case scenario) what is the actual user data. I tried to use function `onUserLoaded` in `/callback` endpoint to set information about user in a cookie (boolean flag or string object). And use `/logout` callback to remove the cookie. Unfortunately this function does not set any cookie. Probably, because `Set-Cookie` header

[2020-05-13 19:33] sandrinodimattia commented on #104
I documented an example here: https://github.com/auth0/nextjs-auth0/wiki/Examples

Let me know if this helps.

[2020-05-13 20:09] sandrinodimattia commented on #99
Could you provide a repository of your sample setup? Have you created a `.env` file in the directory? I added more documentation in the readme: https://github.com/auth0/nextjs-auth0/tree/master/examples/basic-example

The basic example covers your need and you don't need the other examples.

[2020-05-13 20:09] sandrinodimattia commented on #99
And please share a screenshot of the ".json error report file"

[2020-05-13 20:48] bnd5k commented on #104
This helps a lot!  Thank you.  It's great knowing that we have so much control over state from within our app.

Thanks for your work on this library. We're very happy with it. :)

[2020-05-13 20:48] #104 closed

[2020-05-13 21:37] acecauis commented on #99
Actually fixed my issue. The issue was that I didn't include a `.env` file in the directory.

[2020-05-14 03:39] Pytal commented on #67
@matthieuh does this work with the Next.js serverless target?

[2020-05-14 13:41] sandrinodimattia commented on #99
Ok, thanks for the update 👍

[2020-05-14 13:41] #99 closed

[2020-05-15 07:13] juhaelee commented on #44
Just for clarity, is this the reason why I am logged out of my application (in less than 3 days) and forced to login again even after I set my [inactivity timeout to 3 days](https://auth0.com/docs/sessions/concepts/session-lifetime)?

[2020-05-15 11:52] krystian50 opened #108 "redirectUri and postLogoutRedirectUri based on headers"
### Description
Now and Vercel CLI allows to deploy app dynamically (preview mode). Unfortunately, there is no way to get the deployment URL on build time. Is it possible to add behavior for `redirectUri` and `postLogoutRedirectUri` to be set as the value of header eg. `host` or `authority`?

[2020-05-15 13:04] reicheltp opened #109 "PKCE Support"
### Describe the problem you'd like to have solved

The OAuth 2.0 Security Best Current Practice recommends the usage of PKCE for the authorization code grant: https://tools.ietf.org/html/draft-ietf-oauth-security-topics-15#section-2.1.1

### Describe the ideal solution

If the discovery document shows that the endpoint supports PKCE, `auth0.handleLogin` should add the `code_challenge` and not use

[2020-05-15 16:42] tomclark commented on #84
No update to my question, unfortunately, and I'm afraid it rather fell off my radar.

I don't know whether they're new functions since I last looked at it (I don't think they can be, but I don't remember them from the docs), but there appear to be two other functions to do with server-side functionality: getStaticProps, and getServerSideProps. See the "recommended" notice here: https://nextjs.org/

[2020-05-15 16:50] nodabladam commented on #84
@aaron-fuleki  getInitialProps is both server and client...

"For the initial page load, getInitialProps will run on the server only. getInitialProps will then run on the client when navigating to a different route"
~ https://nextjs.org/docs/api-reference/data-fetching/getInitialProps

[2020-05-15 16:50] aaron-fuleki commented on #84
Yeah, those are new to 9.4, I think. The bummer with `getServerSideProps` is that it's [only allowed in a page](https://nextjs.org/docs/basic-features/data-fetching#only-allowed-in-a-page-2).

Assuming that Next's API around this stuff has stabilized a bit (hah!), I'd love to see some official examples of how to handle Auth0 at the app level, rather than having to remember/enforce it on pages. The

[2020-05-15 16:54] nodabladam commented on #108
This is what I quickly hacked together so I could use Vercel

auth0.js
[code]

someOtherFile.js - use preAuth0 and pass request to it
[code]

[2020-05-16 08:23] corysimmons opened #110 "`handleProfile()` should return roles as well"
Right now it returns `"http://localhost:3000/role": "guest"` regardless of what roles the user actually has in the Auth0 application.

[2020-05-16 18:23] JohnnyMorganz opened #111 "Incorrect Typings for request"
### Description

With the recent updates to the library, the types for all the request parameters in the handlers & getSession & tokenCache were changed from http.IncomingMessage to NextApiRequest eg. https://github.com/auth0/nextjs-auth0/blob/84298659a635c4c98f0fd3039f1c6595f3e12969/src/instance.ts#L34

This is alright for any API routes, however it causes a type collision if you attempt to use g

[2020-05-17 17:46] haf opened #112 "useFetchUser uses global in deps array"
<img width="909" alt="image" src="https://user-images.githubusercontent.com/193115/82155692-17707e80-9877-11ea-92db-d9a1146a9da0.png">

It should not

[2020-05-18 04:40] kiley0 commented on #60
I'm using nextjs-auth0 with a custom domain, and in one specific type of user login interaction I was seeing this same error:

[code]

Our users don't sign up using Auth0, instead they get invited to our application and they accept the invitation by clicking a link.  The invitation link brings them to the Next.js app, to a page where they create a password and fill out a few other things.  When th

[2020-05-18 13:21] haf opened #114 "The code quality of the examples is low"
### Describe the problem you'd like to have solved

There's IMO a number of flaws in the examples:

- It's possible to accidentally use the global user from 'fetchUser' so that you [log in others inadvertently](https://owasp.org/www-project-api-security/) (API2)
- You're printing [internal errors on failure](https://owasp.org/www-community/Improper_Error_Handling)
- You use the error handler to se

[2020-05-18 13:26] haf commented on #111
Fixed by #113

[2020-05-18 13:29] haf commented on #105
SSG pages already have a `NextPageContext` that has a `req: http.IncomingMessage` that you can feed to `auth0.getSession()` that gets you the id-token as well as access-token. That way you don't have to keep a secondary storage of the user details.

[2020-05-18 13:41] BjoernRave commented on #114
I would also like to add, that by adding all environment variables to the `next.config.js` they will get included in the client bundle, potentially exposing critical information.

Environment variables only needed server-side do not (and should not) need to be included in `next.config.js`

[2020-05-18 13:47] james-ff commented on #114
Additional point: Due to restrictions on the number of lambdas when next is hosted on Vercel

The four auth0 apis could be collapsed into one relative path file such as: `api/auth/[...path].tsx`, with patch switching built into the one api file. Turning 4 lambdas into 1, which might help smaller projects keep under the limit on lambdas
- See: https://nextjs.org/docs/api-routes/dynamic-api-routes#c

[2020-05-18 15:47] krystian50 commented on #108
@nodabladam I'm aware of this solution. The thing is, each time you call this function, you actually reinitialize auth0. So in case of calling the same endpoint twice, you init auth0 twice, but there's no domain changed, so it's pointless. I know it's not so bad in case of serverless as it is in a traditional server. However, while lambda is still active, it's simply a pointless calculation.

A go

[2020-05-18 18:24] haf commented on #114
@BjoernRave Are you sure? https://nextjs.org/docs/api-reference/next.config.js/introduction says:

[2020-05-18 18:36] james-ff commented on #114
I believe in Next.js 9.4 the need to declare environment variables in `next.config.js` is removed (at least for browser accessible environment variables):
https://nextjs.org/blog/next-9-4#new-environment-variables-support

[2020-05-19 09:21] krystian50 commented on #108
Also, because of wrapping `initAuth0` in function with `req`, you can't use `requireAuthentication`

[2020-05-19 11:23] BjoernRave commented on #114
If you read the section in the blog of 9.4. it at least seems like having the env vars in `next.config.js exposes them in the browser bundle: https://nextjs.org/blog/next-9-4#new-environment-variables-support

[2020-05-19 22:03] MrShish commented on #114
@haf , it would be awesome if you could file a PR, im quite new to javascript world and learning by reading examples, would love to see your fixups :)

[2020-05-20 02:02] UlyssesInvictus commented on #44
To clarify and expand on a similar use case, our application needs the ability to silently authenticate the user in the client, but then forward that token / cookie to the Next API so that the token can then be authenticated and used for server side rendering. In our particular case, it's not feasible to perform the authentication server side first, as we're sharing a cross-domain application with

[2020-05-20 21:24] lone-cloud opened #117 "Unable to redirect to a dynamic URL on logout"
The ?redirectTo query param from v0.13.0 does not work for logouts. Also I see that handleLogout() doesn't accept any options making it impossible to redirect the user to a dynamic URL on log-out. This is necessary when redirecting the user back to a locale-specific URL.

[2020-05-21 20:20] onethread commented on #91
I'm running into this issue as well with a pretty vanilla setup. RBAC on the API is enabled, so the access token is filled with a large list of permissions, which pushes the token size way up, and therefore the cookie size as well.

Any ideas? I'm not able to deactivate RBAC (it's being used by other projects). Looking at the code, it looks like cookies are mandatory, so I assume I'd have to switc

[2020-05-22 03:02] LeakedDave opened #119 "Using multiple environment URLs + localhost for redirectUri"
Am I doing this right? I was having issues with leaving the redirectUri as localhost when deploying to Heroku. I didn't really see any documentation on using a non localhost URL, or even handling multiple environments. So I implemented a dynamic redirectUri using the absoluteUrl function from absolute-url library. This requires me to pass "req" to auth0 when initializing. It works, but I don't kno

[2020-05-23 21:48] olaven opened #121 "Method can only be used from the server side"
### Description
Using `auth0.getSession` and `auth0.requireAuthentication` as shown in the readme fails with the following error:
`Error: The requireAuthentication method can only be used from the server side`

When calling from my application frontend (e.g. `fetch("/api/protected")`, it works just fine :)

### Reproduction
`pages/api/protected.ts
[code]
`__tests__/api/auth.test.ts`
[code]
`jest.c

[2020-05-24 02:00] Jerry2001Qu commented on #111
@haf  Is there any way to use this fix while waiting for the merge? I can't seem to figure out how to do it.

[2020-05-24 09:15] olaven commented on #121
Hi! I figured it out, and it was not related to this library.
Sorry about that.

In case anyone else encounters the same issue:
jest defines `window` globally by default, leading `nextjs-auth0` to believe that the code is executed in a browser. In other words, the error makes sense.

To fix this issue, i configured `testEnvironment: "node"` in my jest configuration 👍

[2020-05-24 09:15] #121 closed

[2020-05-24 15:02] haf commented on #111
For this specific issue, just add `// @ts-ignore` just above the line where you feed the `Request` value in.

[2020-05-24 19:43] Jerry2001Qu commented on #111
Sorry, I don't think I understand what you mean. I'm trying to replicate the code under Getting Started.

For this code segment,

[code]

Would I simply add // @ts-ignore as such?

[code]

That doesn't seem to work for me, as auth0.getSession(req) returns null.

[2020-05-24 19:55] haf commented on #111
Here's a demo that works well https://github.com/auth0/nextjs-auth0/pull/116 — clone my fork and look in the examples/with-apollo-hasura-ssr folder

[2020-05-26 18:29] lone-cloud commented on #117
After some investigation, I see that this is an implementation shortcoming.
This should not be taking the returnTo value from settings, but a separate options param specific to logout: https://github.com/auth0/nextjs-auth0/blob/master/src/handlers/logout.ts#L13

[2020-05-27 05:11] sir-dunxalot commented on #60
When I have encountered `id_token not present in TokenSet`, it's usually because of an error in the `scope` option passed to `initAuth0()`.

For example, accidentally leaving a trailing comma in a .env line like `auth0scope='openid profile email',`.

[2020-05-27 14:16] kokipsiho opened #123 "Refresh token missing in session"
### Description

Refresh token is missing in object returned from `getSession` method. This makes it impossible to get new access token. Example in documentation always returns

### Reproduction

- Cofigure session with `storeRefreshToken: true`
- Session object does not contain refresh token

[2020-05-30 02:20] sir-dunxalot commented on #77
I have put together [sir-dunxalot/cypress-nextjs-auth0](https://github.com/sir-dunxalot/cypress-nextjs-auth0) in order to support Next.js and Auth0 in Cypress. Please try it out and let me know what you think it's missing given this conversation.

[2020-05-30 20:59] platocrat opened #124 "There's no handler for signups"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-06-01 02:40] rebeccapeltz commented on #83
I've added this code to the callback event
[code]
as described.  The console log never appears. I've inserted `debugger` before and after the `handleCallback`  and the code stops so I know it's calling the handleCallback.  It also logs that it has called the handleCallback.  When I put the `debugger` after the onUserLoaded it never stops.  I'm concluding that it never fires this event.  Is there a

[2020-06-01 11:52] Jamesglaschu opened #126 "encodeing postLogoutRedirectUri twice"
# Description

      `endSessionUrl = client.endSessionUrl({
        id_token_hint: session ? session.idToken : undefined,
        post_logout_redirect_uri: encodeURIComponent(settings.postLogoutRedirectUri)
      });`
what it should be
      `endSessionUrl = client.endSessionUrl({
        id_token_hint: session ? session.idToken : undefined,
        post_logout_redirect_uri: settings.postLogoutRe

[2020-06-02 11:11] alex-windett commented on #60
I am also experiencing  `Invalid request, an initial state could not be found` error occasionally. I cannot reproduce it myself but a number of users have seen it occur. Similar to above to appears to be originating from the `handleCallback` function.

When it does work for me I can see the `a0:state` cookie is being seen at the root of the site, securely, and over http with sameSite set to `lax`.

[2020-06-03 20:36] tomclark opened #128 "storeAccessToken breaks login after 0.7.0"
### Description

I'm having an issue where if I add `storeAccessToken` to the session configuration, it results in the session not being created at all in versions of the plugin later than 0.7.0. My application goes through the login sequence with Auth0, is issued a token (I can see this happening successfully in the Auth0 logs), but when Auth0 redirects back to the app, there is no session at all

[2020-06-04 09:51] tomclark commented on #123
Hi, I'm afraid I can't help, but I just opened #128 which sounds a little similar but is a rather more fundamental problem in that no session is created at all if I configure the session with ```storeAccessToken``` in versions later than 0.7.0. Might it be worth checking whether you see this issue in 0.7.0?

[2020-06-04 16:44] tomclark commented on #128
I think I understand what's going on. I noticed during login while I had the dev tools open that a message flashed up and then disappeared, so I screenshotted it:

![image](https://user-images.githubusercontent.com/784012/83779988-8118c700-a684-11ea-8edd-8b2f6cbafb33.png)

Ignoring the message about the unrecommended use of the openid and profile scopes, it seems that the cookie that sets the sess

[2020-06-05 11:06] tomclark opened #129 "Require authentication using getServerSideProps"
Edit: to be clear, this is a request for an example, not an issue report.

With Next 9.4.4, it's recommended that instead of using getInitialProps, you should use getServerSideProps instead. The current example for requiring login on a page uses getInitialProps: https://github.com/auth0/nextjs-auth0/blob/master/examples/basic-example/components/with-auth.jsx

### Describe the ideal solution

Could

[2020-06-05 21:01] tomclark commented on #86
I recently encountered this problem too. I'm deploying to a bare metal Kubernetes cluster, not Zeit/Vercel, so I don't have the option of creating environment variables there (if I understand @huang47 correctly). I cheated and created a .env.staging file which I copy to .env as part of my Docker build for my staging environment. When I get to production, I'll need a .env.production, meaning I end

[2020-06-06 19:24] tomclark commented on #86
I've noticed something that may be useful. I'm deploying to a Kubernetes cluster, and as long as the relevant environment variables are present and correct in the application deployment, they'll override whatever was in the .env file used during the build. So, you can just copy your dev .env file into the Docker build to get you through the build stage without the error, and then when you run the

[2020-06-06 19:28] cyrus-za commented on #32
Running into this same issue here: https://github.com/vercel/next.js/issues/13736

[2020-06-07 01:56] tonyjmartinez opened #130 "Error: A valid Auth0 Domain must be provided"
### Description
I am running into an error saying that I'm not providing a valid auth0 domain when I run `initAuth0`.

The auth0 domain I provide (`tonyjmartinez.auth0.com`) works when I run locally, but not when I deploy to `vercel`.

I tried logging the domain value I'm getting from my config so that I could make sure that the value is there in production, and I get the same value: `tonyjmartine

[2020-06-07 07:58] tonyjmartinez commented on #130
Found out that this was caused by my lack of understanding of where env variables are read from. They weren't being found correctly in `next.config.js`.

[2020-06-07 08:48] tonyjmartinez commented on #130
Ok closed for real. It was an issue with my env variables not being what they should be

[2020-06-07 08:48] #130 closed

[2020-06-07 10:56] mauvm commented on #60
After some debugging I found the same as @alex-windett. [`isSecureEnvironment()`](https://github.com/auth0/nextjs-auth0/blob/master/src/utils/cookies.ts#L61) causes [`Secure`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie#Secure) to be added to the `Set-Cookie` header.

This means you must either use HTTPS or set `NODE_ENV` to something different than `production` when using

[2020-06-08 02:12] T00114 commented on #86
The way I used the dummy env is a good idea.
I was able to build it with docker-compose.
Thank you for the information.

[2020-06-08 20:12] jimwheaton commented on #70
We had a similar issue on our project (502s) that was related to the `a0:session` cookie size. Depending on what you're storing in the cookie (eg. access_token, id_token, refresh_token), you'll hit a size limit. For us, this was causing the 502s. We dialed back what were were storing in the cookie and it resolved the issue. Hope that helps you out.

[2020-06-09 06:31] 9bits opened #131 "Unable to get JWT Token instead of opaque token"
# Description

When looking at the session data, the idToken is in the JWT format (`eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Im5TZFYyamZGUlA2SURWRUVUY2EyZiJ9.eyJnaXZlbl9uYW1lIjoiSm9uIiwiZmFtaWx5X25hbWUiOiJUYW4iLDJuaWNrbmFtZSI6InRvLmpvbnRhbiIsIm5hbWUiOiJKb24gVGFuIiwicGljdHVyZSI6Imh0dHBzOi8vbGgzLmdvb2dsZXVzZXJjb250ZW50LmNvbS9hLS9BT2gxNEdpRHotNG9WRkZLU1VVS3FSVE96SDU3ckoyZDRpRzJ0c0Nfb2F0WiIsImxvY2F

[2020-06-09 07:18] 9bits commented on #131
Fixed.
I'm not sure what fixed it but I did the following:
* Updated to latest version of `@auth0/nextjs-auth0`
* Logged out
* Restart server
* Log back in

[2020-06-09 07:18] #131 closed

[2020-06-09 10:04] Param-Harrison commented on #90
This is happening on every request. Even though the proxy is working.

[code]

The error is,

[code]

Our config does include the audience and refresh token.

[code]

[2020-06-09 15:00] lnikell commented on #76
@shansmith01 Have you figured out what should be the best practice? So I think the issue title could be even changed since basically we need just an example of how to properly use access token from the client side, or any clarifications about why everything should be hidden behind nextjs api routes.

[2020-06-09 17:00] lnikell opened #132 "Client side API query example/explanation"
Thank you for the library first of all! I'm trying to understand some logic that goes behind the scene and for me, it is not clear why the library forces users to have only API query proxied over next.js API.

Auth0 by default allows you to maintain and refresh tokens just using client-side only, however, in the current implementation everything should go over the backend since all functions are a

[2020-06-09 17:23] lnikell commented on #132
Also since it's a complete server-side usage of the library, I don't understand why there is a need to have all env variables filled during build time('npm run build' command).

[2020-06-11 18:07] tomclark commented on #132
Don't quite understand that myself, but this post I wrote the other day might be of use if you're building for Docker: https://github.com/auth0/nextjs-auth0/issues/86#issuecomment-640106861. Basically, just create dummy values that get you through the build, and then set env vars as part of your deployment which will overwrite whatever was in your dummy file anyway.

[2020-06-12 01:57] samuelhnrq commented on #46
Here am I, the issue necromancer.

I was actually looking for something completely unrelated, but I never even thought of that, and the more I think about it the sillier I feel, (not using getInitialProps kinda beats the purpose of using SSR
 amiright 😆) but, I don't know when this issue was posted but nowadays isn't this achieved by using the [context object](https://nextjs.org/docs/api-reference

[2020-06-14 14:12] olaven opened #134 "Login crashes due to next/dist/next-server/server/node-polyfill-fetch"
First of all, thanks for maintaining this library. It made using Auth0 way easier 👍

### Description
Wen deployed to Vercel Now, calling my login-endpoint causes the error below.
This does not occur when running locally. The second code sample includes my endpoint code.
[code]
[code]
[code]
### Reproduction
* NextJS project
* API route as first Typescript example, at `pages//api/auth/login`
* Abov

[2020-06-15 10:46] iamyojimbo commented on #45
How do we refresh this data once it changes? If that data is updated from the Auth0 dashboard, I can't seem to fetch the new data without logging out and logging back in again.

[2020-06-15 18:35] thinkjrs commented on #60
I had the same issue--thanks to everyone here, I went digging into my setting of the env variable `AUTH0_SCOPE`. In case it helps future travelers, I'll be super pedantic below.

Turns out that simply adding
[code]
to my `.env` file did the trick for me.

[2020-06-19 14:27] aorsten opened #135 "Communicate with NextJS API using Postman"
### Describe the problem you'd like to have solved
I want to be able to test my nextjs API with Postman. I have previously connected to Postman with Node Express Auth0, which seems to add an Authorization bearer header.

I believe the issue is that I need the ID and Access tokens to be stored in the session - which I do in my app with the initAuth0() method. How can I - if possible - achieve this

[2020-06-19 16:39] aorsten commented on #135
Nevermind - I just needed to call the api endpoint performing the login.

[2020-06-19 16:39] #135 closed

[2020-06-19 19:41] m-torin commented on #119
That approach will never resolve the way you want because it relies on runtime variables while your other code wants buildtime; at least that was my issue. I solved this by dropping the auth0.config.js and having auth0's init export use the env's from next.config.js.

[2020-06-22 13:56] prettydev commented on #60
any updates for this?

[2020-06-23 17:16] mayatools commented on #117
+1 to having this PR merged please

[2020-06-25 03:18] serendipity1004 commented on #132
I need a solution to this problem as well. We are actually using GraphQL as backend and trying to handle Auth0 authentication and a separate Apollo Server. Since the access token is not exposed on the client side, I am not able to use Apollo client to direct query to GraphQL server.

[2020-06-25 04:50] serendipity1004 commented on #76
@lnikell have you found a solution by any chance? without using the proxy?

[2020-06-25 04:51] serendipity1004 commented on #55
@BryceAMcDaniel @BjoernRave so you guys are just manually fetching access token from the server every time you make graphql request?

[2020-06-25 07:31] hichana commented on #25
The code:
`var lock = new Auth0Lock(config.clientID, config.auth0Domain, {
  ...
  initialScreen: (config.extraParams.prompt === 'signup' && 'signUp') || 'login',
  ...
});`

should be added in the 'Universal Login' section of your auth0 account:

<img width="1071" alt="Screen Shot 2020-06-25 at 4 28 08 PM" src="https://user-images.githubusercontent.com/8943047/85676138-4a712200-b701-11ea-8b33-08a

[2020-06-25 11:22] BjoernRave commented on #55
@serendipity1004 Yea, in the beginning I was just fetching the accessToken every time I did a request, but then I created a proxy api server, which adds the accesstoken to the request like this:
[code]

but eventually I moved my backend into an api route to reduce latency and everything works quite well for me

[2020-06-25 14:58] lnikell commented on #76
@serendipity1004 I decided to move to https://github.com/iaincollins/next-auth and stop trying to get anything from Auth0 or their support.

[2020-06-27 12:43] caribou-code commented on #111
Just started using this package and it's pretty cool! Works great, so thanks for the hard work!

Do we know when we can expect the next release with this typing fix?

[2020-06-28 00:03] mattjennings commented on #74
Could we add an option to `tokenCache.getAccessToken()` that allows a force refresh? I've found myself in a scenario where I'd like to update the claims on the token but it seems my only option is to wait until the token expires.

[2020-06-28 04:35] phillip055 commented on #94
Can we use react sdk instead?

[2020-06-28 06:25] mattjennings opened #136 "Allow manual refresh for access token"
### Describe the problem you'd like to have solved

It would be helpful to let us force an access token refresh rather than waiting for them to expire. The scenario I've run into is updating a user's claims after they've updated their profile.

### Describe the ideal solution

Adding a `refresh` option to the `getAccessToken` method, like so: `tokenCache.getAccessToken({ refresh: true })`

## Alte

[2020-06-30 20:29] renato commented on #90
I don't know if it's related: my login flow is working, but after some hours (probably after `cookieLifetime`s) I get the same `The user does not have a valid session` when trying to `getAccessToken` from `tokenCache`, but there is a valid session on Auth0, which is confirmed when trying to login with `handleLogin` which just redirects to `handleCallback` and the session is renewed without going t

[2020-07-01 03:58] sebaestel commented on #60
Same issue here, but is very random, in my local machine is working well, but in my server (aws) is working randomly :(

[2020-07-02 13:43] alex-windett commented on #60
I think i have solved my problem and it might be the case for others.

It is as @tylermenezes mentioned, the cookie being sent back was very large - just under the 4000 bytes mark. I removed the need to have id token, refresh token and access token being sent back in the encrypted cookie and now all are being set at around 100 bytes and as of yet come across no issues.

Just set the relevant attri

[2020-07-03 17:54] jtlacci commented on #135
@aorsten do you mean that you called `localhost:3000/login` or your auth0 domain ?

I have tried `localhost:3000/login` that just returns, the html login form
and I have tried `{{auth0_domain}}/oauth/token` that returns a bearer token that nextjs-auth won't recognise

[2020-07-04 06:26] aorsten commented on #135
I used the login endpoint at localhost, e.g. localhost:3000/api/login. However I've struggled more with it, and figured out that it did work when I used the default auth0 domain (mytenant.auth0.com) in my localhost server, but it didn't work if I used my custom Auth0 domain (myauth.example.com).

So it wasn't directly straightforward..

BTW, writing this by memory while on my phone, so sorry if so

[2020-07-04 10:52] chubibest opened #138 "Missing details in decoded session"
When I call the auth0.getSession method on the ‘@auth0/auth0-react’ SDK. I do not get the username as part of the profile data.

### Reproduction

- In a Nextjs app import the SDK and initialize it with the following details
[code]

- Call the 'getSession' method on the instance you initialized in the 'getServerSideProps' method of a protected page.

### Expected Behavior
The Profile data  returne

[2020-07-06 10:44] serendipity1004 opened #139 "Redirect based on the session"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-07-07 04:18] jagyas commented on #67
Hi,
I have also created one proxy for graphql.
I have api/graphql.js file with below code:

`export default auth0.requireAuthentication( async function graphql(req, res) {
    try {
        const myHeaders = new Headers();
        myHeaders.append('Content-Type', 'application/json');
        myHeaders.append('Authorization', JSON.parse(JSON.stringify(req.headers)).authorization);
        const url

[2020-07-07 11:14] craigbilner opened #140 "Refetch with `storeAccessToken` set to `false`"
### Description

I'm not sure if it's by design or a bug but it appears that you need to change the default `storeAccessToken` setting to `true` if you would like to use the `refetch` option. It looks like it's by design in that `refetch` is updating the session so perhaps the docs need to explicitly call this dependency out?

### Reproduction

The README for `refetch` shows:

[code]

Though the d

[2020-07-08 05:17] jacksonblankenship commented on #108
@krystian50 Did you ever figure out a solution to this issue?

[2020-07-08 13:20] #117 closed

[2020-07-08 19:48] sandrinodimattia commented on #138
You'll need to add that claim to the id_token. Reference: https://auth0.com/docs/api-auth/tutorials/adoption/scope-custom-claims

[2020-07-08 19:52] sandrinodimattia commented on #132
We'll need to write a page explaining your options. This SDK follows the Regular Web Application model, meaning:

- The application is a confidential client
- Any tokens should only be consumed by the confidential client (the server side). Tokens are not made available to the client side
- During SSR, the user is available on the server side

If your need is to have access tokens on the client and

[2020-07-09 00:49] drewwyatt commented on #129
I'm not sure if this is the right thread or not, but i've found that the session is MIA if i make a request from `getServerSideProps`. Am I missing something?

config:
[code]

api route:
[code]

^ If I hit a page that calls that api route from inside the component, it works. The request succeeds, and I can see the id token in the logs. If I refresh the page (triggering `getServerSideProps`) the re

[2020-07-09 02:44] chubibest commented on #138
Here are some of the claims I have tried 'openid profile email  sub name given_name preferred_username' not of which appears to produce the desired effect.

[2020-07-09 09:12] hichana commented on #60
@alex-windett can you elaborate or provide an example on how to "need to have id token, refresh token and access token being sent back in the encrypted cookie". I'm having the same issue, seemingly, as everyone else.

[2020-07-09 09:49] alex-windett commented on #60
@hichana

In the `initAuth` function there are a number of session options will pass additional information in the auth0 cookie, for example `storeIdToken`, `storeAccessToken`, and `storeRefreshToken`.

If these are set as `true` the cookie that is returned can become very large (above the browsers storage limit), so instead set them to false and it should all work.

Here is an example of my `init

[2020-07-09 13:04] matthieuh commented on #128
I experienced the same issue discovered it since auth was working with short email address but not with long one x) Disabling IdToken storing fixed it on my side. I guess that depending if you are using accessToken or IdToken you can disable the other waiting to have a proper fix on versions > 0.7.0

[2020-07-10 00:42] hichana commented on #60
Thanks @alex-windett, I didn't have these set at all, but I added them set to false as you indicated and I still get the same '
Invalid request, an initial state could not be found' error. In my case logging in works fine but when signing a new user up I get the error. The new user is actually signed up and shows up in the Auth0 admin panel as a user, and can log in, but it's just that after signi

[2020-07-10 00:56] nodabladam commented on #60
I believe I was getting this error from Safari users that were clicking deeplinks back to the app from emails in in a gmail tab.  I switched to refresh token rotation and I believe my errors in sentry have stopped showing up:
https://auth0.com/docs/api-auth/token-renewal-in-safari

Magic looks cool.  I have not used it but firebase could be a good option for some that can't make auth0 work:
https:

[2020-07-13 18:44] lone-cloud opened #141 "nextjs-auth0 doesn't work with auth0 lock"
### Description

I've been trying to get these two libraries to work together, but it seems that redirecting to a callback handler provided by this library, from a successful auth0 lock request, doesn't work correctly.

### Reproduction

Create a auth0 lock like:
[code]

After a success login, the handleCallback() code dies on https://github.com/auth0/nextjs-auth0/blob/master/src/handlers/callback

[2020-07-16 07:32] SantiMA10 opened #142 "Login flow with two browser tabs produces a state mismatch error"
### Description

If you open two browser tabs going and try to log in at the same time it results in a state mismatch error.

### Reproduction

- Open https://nextjs-auth0-api-example.now.sh/ and click login in tab 1
- Open https://nextjs-auth0-api-example.now.sh/ and click login in tab 2
- Go to tab 1 and log in
- 💥

### Environment

- **Version of this library used: 0.15.0**
- **Version of the p

[2020-07-16 15:35] lucas-janon commented on #132
@sandrinodimattia can the two solutions be used together? We need both server-side and client-side authentication.

[2020-07-18 03:09] philihp commented on #108
My Preview URLs work when I use the canonical URL (e.g. `https://project-d686nh684.vercel.app/`), rather than the branch preview URL (e.g. `https://project-git-preview-branch-name.project.vercel.app/`) which doesn't work. The Preview URL is given to the PR, but the canonical URL is the one given by `VERCEL_URL`.

I setup a redirect on my `/api/login`, which will redirect first to the canonical URL

[2020-07-19 04:23] mosesoak commented on #132
@sandrinodimattia Not to pile on, I think I understand what you're saying based on reading your invaluable [ultimate guide](https://auth0.com/blog/ultimate-guide-nextjs-authentication-auth0/) article.

That article was written a while back and the React SDK is just coming out now with their own Next JS integration example. But my guess is that if you were to update that article today (not a bad id

[2020-07-19 08:41] Bathlamos commented on #94
@livelo-app I saw that your PR was rejected but I'm very interested in the path that you suggested (using `auth0-js WebAuth.login()` for the initial login request but redirecting to an nextjs-auth0 callback). Do you have an updated way to achieve that?

Alternately, a question for @sandrinodimattia who rejected #101: is there a way to have auth0-js and nextjs-auth0 better interop? I'd love to have

[2020-07-20 02:32] firrae opened #145 "AccessTokenError When Re-fetching User Profile"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-07-20 02:33] firrae commented on #145
Any help in understanding why this is happening would be greatly appreciated. Otherwise most things seem fine.

[2020-07-23 05:41] devpascoe commented on #69
Interesting. I could only get this to work by:
storeIdToken: false,
storeRefreshToken: true,
storeAccessToken: true,

if i set storeIdToken to true then cookie isnt set.

[2020-07-23 06:09] nherson commented on #60
I was debugging this for a bit with a small app I'm working on. It only happened on new devices logging in, which seemed weird. I worked through most of this thread and no dice.

My API auth0 handlers: `/api/auth/login` and `/api/auth/callback`

Turned out, my issue was pretty embarrassing but I'll own up to it here in case anyone else makes a similar mistake! My app, deployed to heroku, wasn't re

[2020-07-23 18:10] livelo-app commented on #45
Would be great to find a solution to this

[2020-07-25 14:05] devpascoe commented on #90
same! So now i am commenting out cookieLifetime to see if the cookie expires.   .... now to set a timer for 2 hours ;)

[2020-07-27 00:32] devpascoe commented on #90
follow up, commenting out didnt work, default must be 2 hours. So far having success setting to 86400 * 30 (1 month) in that its been 12 hours and i'm still logged in / session is active.

[2020-07-27 21:10] austinhale commented on #60
A couple of things to double check if you've been banging your head on this issue like I was -- note this may only be useful if you're using Cloudflare & Vercel.

1. Under SSL --> Edge Certificates in Cloudflare, verify "Always Use HTTPS" is toggled off
2. Add separate custom domains in Vercel for your main production branch & the feature branch you're working on e.g. `staging.yourdomain.com` . **

[2020-07-29 04:03] devpascoe commented on #90
A few days later, so far so good.

[2020-07-30 12:17] cyrus-za commented on #108
I added `BASE_URL` as environment variable in production (on vercel dashboard) and left it blank in preview mode.

In my code I check if `process.env.BASE_URL` is defined else I set it to `https://${process.env.VERCEL_URL}`

That way it will set ti the cannonical url in preview, but in production it will use the production url.

I do not currently use the git integration (and manually deploy throu

[2020-07-31 10:35] ImranAhmed opened #148 "Protect Page Route in NextJS"
Using instructons in readme there is an example at bottom of page on a HOC that can be used to protect API routes _requireAuthentication_ . Is there anything similar for pages? If not how would one best protect access to a page?

[2020-08-01 05:49] 25to8 commented on #148
As I understood you should check the session in serverless methods in getInitialProps or in getServerSideProps (or in your routes of the custom server). And when the session doesn't exist you will redirect the user to the login route (before page will be rendered).

For example:
[code]

But, I can wrong.

[2020-08-02 01:32] rogelio-meza-t commented on #148
Hey @ImranAhmed
Did you check the `api-call-example` inside examples directory? There is a `protected-page.tsx`  page working as you want.

[2020-08-02 07:01] ImranAhmed commented on #148
@rogelio-meza-t That looks perfect. Will give that a try. Thanks.

[2020-08-04 04:57] knightss27 commented on #94
If you want to skip the universal login page you can specify authParams with the connection set to a valid connection name, which I think could be a social connection or db. This example will forward the user straight to the google OAuth page, assuming you have that social connection set up. I've found that it does force the user to login if authenticated already though, whereas I've found that us

[2020-08-04 15:53] marcoschicote opened #152 "Impersonation support?"
Hi
Does this library provide support for user impersonation? Is it on the roadmap?

Thanks!

[2020-08-05 16:17] ImranAhmed commented on #148
@rogelio-meza-t I managed to get that working however as soon as I added a getStaticProps to my page I got the following error.

`Error: You can not use getInitialProps with getStaticProps. To use SSG, please remove your getInitialProps /home`

I think this refers back to the HOC [with-auth.jsx](https://github.com/auth0/nextjs-auth0/blob/master/examples/api-call-example/components/with-auth.jsx) w

[2020-08-06 13:00] ImranAhmed opened #153 "Access user on server side"
I am following the example here to access the user on the server side.

https://auth0.com/blog/ultimate-guide-nextjs-authentication-auth0/

However, I am getting the following error. I am using TypeScript.

![image](https://user-images.githubusercontent.com/2539520/89534559-076c9900-d7ed-11ea-903b-7988ab35c401.png)

Any ideas?

[2020-08-06 15:07] ImranAhmed commented on #148
so I finally got this working.

**With HOC**

[code]

**With getInitialProps**
[code]

**With getServerSideProps**

[code]

[2020-08-06 15:07] #148 closed

[2020-08-06 20:16] aaronsnig501 commented on #153
Hey,

I just noticed that I have the same error in VS Code, however, I'm not getting any errors when running the project, everything seems to function correctly, but I don't know if there are some issues behind the scenes that I'm not aware of.

I just checked and the req passed to both `getServerSideProps` and `getInitialProps` are `IncomingMessage`, but the [getSession](https://github.com/auth0/

[2020-08-06 20:20] ImranAhmed commented on #153
I casted it as follows.

`const { user } = (await auth0.getSession(req as NextApiRequest)) || {}`

[2020-08-09 15:34] martaver opened #154 "Document best practices for using nextjs-auth0 with a nextjs production build."
### Description

During a production build, `nextjs` creates optimised builds for each page. Naturally, these pages won't authenticate as there is no user, however auth0 will require configuration variables, such as `AUTH0_DOMAIN`, `AUTH0_CLIENT` and so on...

These are secrets that should be injected into the application at runtime, and it strikes me that they shouldn't be necessary at build time

[2020-08-14 12:30] invasionofsmallcubes commented on #154
You know, I actually had the same doubt when I've read the tutorial. Seems weird write?
I was thinking to try a build passing the variables from environment but it's not clear if it will work at runtime on Vercel.

[2020-08-14 13:20] piehouserat opened #155 "Authenticate entire app"
Hey guys, not an issue more of a question.

Was wondering how you would go about wrapping the entire application in an auth check with an immediate redirect to login if the user was not logged in.

I realise I could probably just wrap every page in the `withAuth` HOC although that seems dated and inefficient.

I'm building an admin dashboard so SSR isn't exactly super necessary and happy to live w

[2020-08-15 23:53] joshbenhamou commented on #129
@drewwyatt Did you figure it out? I'm having the same issue

[2020-08-16 10:04] vanduc1102 commented on #60
In my case it was : https://nextjs.org/docs/api-reference/next.config.js/trailing-slash
I have to set `trailingSlash: false`

[2020-08-19 10:03] cyrus-za commented on #97
NOW_URL (or VERCEL_URL) does not solve it as they tend to create multiple url's e.g. github branch name or now.sh vs vercel.app and they display different url's at different places. It would be great if auth0 could just read req.headers.host and use that or alternatively let us pass a function in with req as input.

[2020-08-19 10:59] GriffinSauce commented on #97
Host header can be manipulated from the client though so this opens up a potential vulnerability. Especially since this is a nextjs library and not necessarily hosted on Vercel (where I believe that header is safeguarded)

[2020-08-19 13:35] sandrinodimattia commented on #136
This is now available in v0.16 👍

[2020-08-19 13:35] #136 closed

[2020-08-20 08:32] jordie23 commented on #154
It's because in the example the `initAuth0` function is executed as soon as the file is imported.

i.e. this is generally used in the examples:

[code]

I changed it to:

[code]

Then when you import it

e.g.

`import auth0 from '../../../lib/auth0'`

you will need to call it like:

`auth0().handleCallback(req, res, { redirectTo: '/' })`

This means it'll only be executed when the code is run and

[2020-08-20 10:26] KatSick commented on #89
any updates on the issue?

[2020-08-20 15:12] OriginalEXE commented on #155
I would actually recommend only wrapping the pages for which you need the auth. You could wrapp your _app file, but then you would be disabling static optimization for all of your pages.

[2020-08-22 00:59] jordie23 opened #157 "Allow functions to return a result instead of writing to the response stream"
### Describe the problem you'd like to have solved

Sometimes I'd like to be able to modify the response of the functions this library provides or at least take additional actions based on whatever the response is. I can't do either as the functions write directly to the response stream.

### Describe the ideal solution

Allow the ability to have the functions return an object rather than write to

[2020-08-24 07:16] paulolramos commented on #89
Just ran into a similar issue. Looks like SPA applications can only use certain scopes.

https://auth0.com/docs/tokens/management-api-access-tokens/get-management-api-tokens-for-single-page-applications#available-scopes-and-endpoints

I was trying to use `update:users` and that didn't work, but `update:current_user_metadata` worked.

[2020-08-25 05:45] madeinspace opened #158 "Passwordless login pls"
Hi there,

Is there a way of implementing passwordless login with this SDK?  I haven't found a way. Is it on the card for this to be supported?

Thanks

[2020-08-25 23:22] Widcket opened #159 "Add TTL renewal of access token"
### Describe the problem you'd like to have solved

Ensuring the access token will remain valid for at least X amount of time, e.g. before sending it to backend servers.

### Describe the ideal solution

Adding a `minTTL` param to `getAccessToken`. The token cache will check the remaining lifetime of the access token and if it is less than `minTTL`, it will automatically refresh it, and then check

[2020-08-27 05:18] danthareja commented on #132
I also had this need and wanted to share my solution to this. For my use-case, I wanted to be able to:
1. Selectively decide which pages to authenticate with a Higher Order Component
2. Use Auth0's `accessToken` to make authenticated requests to an External API, from pages during both server side and client side rendering, without proxying the request to an `/api` page
3. Avoid re-authenticating r

[2020-08-27 05:25] danthareja commented on #148
For those who come across this issue in a search, I shared my solution to this problem in another comment: https://github.com/auth0/nextjs-auth0/issues/132#issuecomment-681516161

The comment explains the implementation of a `withSession` HOC to protect pages and provide session info to make authenticated requests.

#### Example Usage
[code]

[2020-08-27 16:11] enpclark opened #160 "is it possible to pass additionalSignUpFields to handleLogin ?"
### Description
I'm trying to add additional sign up fields to the universal lock with no success. login_hint is being passed to the universal lock without issues so the options object is being passed fine, but additionalSignUpFields isn't being picked up both outside authParams or inside it.

Is this possible or have I missed something silly. thank you!

### Reproduction
/api/login.js
[code]

[2020-08-27 16:54] mosesoak commented on #132
@danthareja Couple of things with your example code: first, it's a little more straightforward to destructure the user from the session and provide that directly as a prop. The frontend doesn't need and probably should not get the entire session object with all of its cookie information. Second, I'm pretty sure getInitialProps is being outmoded by next and you should use getServerSideProps. Finall

[2020-08-27 17:25] danthareja commented on #132
Thanks for the reply, @mosesoak! I appreciate the feedback.

Good call on destructuring the user, I like that suggestion. The original intention of the whole session was to include any additional properties added by the `onUserLoaded` callback, but after looking at that spec again, you can add props to the user directly.

I actually chose to use `getInitialProps` intentionally  over `getServerSide

[2020-08-27 18:19] mosesoak commented on #132
@danthareja It's already cached in the cookie. Lookup of the session doesn't necessarily call the server.

My hook is really similar to what you'd find in Sandrino's example code, except that I add the logged-out state which can be boolean or undefined (initial/unset). Here's a simplified example version.

[code]

[2020-08-27 19:06] danthareja commented on #132
Isn't this implied by using `getServerSideProps`? From the docs:

How would you avoid this extra request in your example? Maybe it's not necessary and I'm overthinking this whole thing... I'm admittedly new to the Next.js patterns.

[2020-08-27 20:28] mosesoak commented on #132
Oh, you mean the nextjs api route? Yes it would call that, I was referring to not calling auth0's server. I don't think there's much of a penalty for using api routes in next, they're screamingly fast and a great way to handle stuff like this. This nextjs-auth0 library is really authored to be used as much within api routes as possible.

[2020-08-28 15:41] danthareja commented on #132
Yeah, I was thinking of a way to avoid that request. I only SSR a UI skeleton (including a user profile), and most of my data fetching is done in the client as an SPA, so I wanted to keep those transitions snappy. I haven't profiled the performance of using `getServerSideProps`, and this could very well be an over-optimization.

Thanks for sharing your thoughts @mosesoak, it's always nice to hear

[2020-08-31 12:25] marklawlor opened #161 "getAccessToken clears custom session.user attributes set via onUserLoaded"
### Description

As per the README, onUserLoaded can be used to set custom session.user attributes (eg `session.user.age`). However these attributes are removed when the accessToken is refreshed.

This can be observed here https://github.com/auth0/nextjs-auth0/blob/411896ba5044bbeda1b362f7f85b5ab8128d12cd/src/tokens/session-token-cache.ts#L83-L88 where it saves to the session store, overriding the

[2020-08-31 14:32] marklawlor commented on #161
If your blocked on this, I'm currently using this hack fix. It manually performs a refresh, and then does some gymantics with the cookies to get them correctly set. Its designed so once this issue is resolved you can simply delete the hack

[code]

[2020-09-02 21:09] jtlacci commented on #45
was able to access like this
[code]

[2020-09-03 08:59] lunchboxav opened #163 "Should I use this, or auth0-react?"
I'm starting a new project which requires me to implement authentication for both accessing page and API. I'm developing it using Next.js. So, my question is, should I use this library or the [auth0-react](https://github.com/auth0/auth0-react)? I've given both a quick PoC and they seem to be working at least for what I was aiming at.

Is there any advantage that one gives over the other?

Thank yo

[2020-09-03 11:38] jonathanredford commented on #163
From my understanding, the reason this package (nextjs-auth0) exists is to allow you know whether the user is authenticated when rendering the page on the server, which saves the client having to initially load the page and then make API call with the session cookie.

This diagram (pulled from [Auth0's guide](https://auth0.com/blog/ultimate-guide-nextjs-authentication-auth0)) explains further what

[2020-09-03 14:43] Kinbaum opened #164 "Need a configurable logout path"
### Describe the problem you'd like to have solved

In the following code sample below, it looks like you have the logout URL hardcoded to `/v2/logout` and the `returnTo` parameter. Depending on which OpenID compliant broker you use this library with, this path is going to be different.

[code]

### Describe the ideal solution

As part of the `LogoutOptions`, can we have a configurable logout endp

[2020-09-03 15:56] mosesoak commented on #163
@lunchboxav You should read this article carefully: https://auth0.com/blog/ultimate-guide-nextjs-authentication-auth0/

It's the mother lode.

You should absolutely use this library with next.js -- it fully enables server-side auth using a cookie-based system. The react one is purely frontend.

FYI the only true limitation of this library we've found after using it is that if you update user metad

[2020-09-05 01:05] katrinaywatson commented on #110
+1 would also love if roles were included in handleProfile(). Anyone come up with a solution for this yet?

[2020-09-05 07:56] joaogarin commented on #90
Hello,

I get the same problem, but I only have this problem ttryint to get the token from a api route (via a POST request). which from reading the docs looks like its how its intended to work? If I use for example apollo which needs the jwt client side it would have to do a post request to an Api route to get it?

any ideas how to advance this problem? if I do the request directly in getInitialPr

[2020-09-05 08:22] glenmcrae commented on #129
I am having the same issue.

[2020-09-05 15:26] semyou commented on #89
I simply got away from auth0 and did my own authentication with bcrypt and cookies. Everything is now in my DB. Less steps. More consistency. And no need to beg for someone's support.

[2020-09-06 23:20] joecris commented on #145
maybe related to https://github.com/auth0/nextjs-auth0/issues/140. may need to set storeAccessToken: true on config :)

[2020-09-06 23:24] joecris commented on #44
not sure if it helps, but current loginHandler can do silent authentication by passing additional authParams `prompt: 'none'`

`import auth0 from '../../utils/auth0';

export default async function login(req, res) {
  try {
    await auth0.handleLogin(req, res, {
      authParams: {
        prompt: 'none'
      }
    });
  } catch (error) {
    console.error(error);
    res.status(error.status ||

[2020-09-07 00:54] marklawlor commented on #44
Should this library implement Silent authentication when the Auth0 docs recommend against it?

[source - https://auth0.com/docs/authorization/configure-silent-authentication](https://auth0.com/docs/authorization/configure-silent-authentication)

[2020-09-07 10:40] williamluke4 commented on #55
Hey @BjoernRave, Any chance you could share your `lib/auth0`

[2020-09-08 12:20] madeinspace commented on #60
I have the exact same error though with a different use case - when I sign in on a machine and try to sign in again using the same credential on a different computer I get the error.

Can someone shed some light on this issue? thanks

[2020-09-09 23:41] #158 closed

[2020-09-10 07:17] mkhoussid commented on #163
It seems that another limitation to `nextjs-auth0` is the inability to use it with a [custom server](https://stackoverflow.com/questions/63776137).

[2020-09-10 17:55] nabeards commented on #23
Has anyone found a way to make this work? The only way that user profile will get updated is if I logout and login again.

[2020-09-10 18:19] nodabladam commented on #23
In our private route HOC that all our pages are wrapped with ([example](https://jasonraimondi.com/posts/secure-a-next-js-application-with-jwt-and-a-private-route-higher-order-component/#add-a-_privateroute_-higher-order-component-hoc-to-secure-the-app-from-unauthorized-access)),  we are checking the status and updating like this:
[code]

[2020-09-12 12:16] stephanebruckert opened #167 "Asynchronously load secret from Vault when initializing?"
Hi,

Not a JS expert, can somebody help me load the auth0 secret from Vault asynchronously? I would have thought this would work. But `initAuth0` seems to run before `get_secret()` finishes.

[code]

Also asked here https://github.com/vercel/next.js/discussions/17039 and here https://stackoverflow.com/questions/63868754/fetch-secret-from-vault-when-initializing-next-js. What am I doing wrong? Chee

[2020-09-12 19:20] saitodisse commented on #90
After setting **audience**, **storeRefreshToken** and **storeAccessToken** access tokens are retrieved.
If **storeRefreshToken** and **storeAccessToken** are set to false I always get the: `The user does not have a valid access token.`

[2020-09-14 07:44] stephanebruckert commented on #167
Someone posted a solution that works on SO https://stackoverflow.com/a/63874771/1515819

[2020-09-14 07:44] #167 closed

[2020-09-14 14:33] dayvough commented on #16
I'm trying out the approach here using the new universal login: https://community.auth0.com/t/how-do-i-link-users-directly-to-the-hosted-signup-page/42520

[code]

And it's still leading me to the Login and not the Sign Up tab.

[2020-09-14 14:40] dayvough commented on #16
Hmm, decided to just jump into my auth0 config and follow https://github.com/auth0/nextjs-auth0/issues/25#issuecomment-649310807 instead

[code]

This then worked for me.

[2020-09-14 16:30] nodabladam commented on #16
I have "mode" rather than "prompt" in my handleLogin and it seems to be working.

[code]

[2020-09-15 06:42] mkhoussid commented on #26
I'm not sure if this would help someone coming here in the future, but after hours of bashing my head, trying to figure out why I was able to login with Gmail but not Facebook, Github, etc, I entered `https://dev-tenant99.geo.auth0.com/login/callback` as my callback URL for Facebook and Github, and it started working. Might've been wrong on my part, but I understood the [docs](https://github.com/a

[2020-09-15 13:42] sandrinodimattia commented on #164
Thanks for reporting this issue @Kinbaum. Right now our focus us to create a library which works well with Auth0, not a general purpose OIDC library. As such, this is not something we are going to invest in right now.

You might want to explore using https://github.com/nextauthjs/next-auth instead if you're not using Auth0.

[2020-09-15 13:42] #164 closed

[2020-09-16 14:18] dartmoordunbar commented on #60
I have this issue but only when the user tried to verify their email.

[2020-09-17 08:44] DimitarTerzov opened #169 "How to update session in api rout."
Hi,
I want to update the session in API rout, based on data I fetched from external API. Is there a way similar to onUserLoaded?

Thank you!

[2020-09-17 13:55] mcky commented on #139
+1 on this, one of our integrations requires generating a token for the user during the login callback and then redirecting the user to that URL to log them in. The problem is that we won't know the URL to redirect to until after `onUserLoaded` has ran. I've locally patched the package to return extra options from `onUserLoaded`

[code]

and patched `handlers/callback`

[code]

[2020-09-18 06:35] rynomad commented on #141
This probably isn't a full fix for you, but after running into a similar problem, I found that lock was generating a cookie with state that included TWO values, only one of which was represented in the query string to 'api/callback'.

I have been able to bypass the state mismatch by modifying the 'api/callback' route with some monkeypatching of req.url to assign the other state value into the requ

[2020-09-22 09:02] YelloJW opened #170 "invalid_grant (Invalid authorisation code) error using basic-example with nextjs dynamic routes in chrome"
### Description

- We have closely followed the basic example from your repo here https://github.com/auth0/nextjs-auth0/tree/master/examples/basic-example, with a slight adjustment to our withAuth wrapper and api/login route for redirecting users.
- In our withAuth wrapper we check if a user has a valid session by calling the api/me endpoint and if they don’t we call a function which redirects the

[2020-09-23 02:57] jonlow commented on #60
https://github.com/auth0/nextjs-auth0/issues/60#issuecomment-674507011

Yep we had same error with trailingSlash: true

Is there a way to get this working with trailing slash enabled?

[2020-09-23 21:48] samuanv commented on #60
In my case, I was adding the environment variable for the scope in the Vercel UI with double quotes `"openid profile email"` but changing it to simple `openid profile email` solved this issue.

[2020-09-24 11:16] aorsten opened #172 "state mismatch, expected A, got B (for some Google accounts)"
**Short**: Getting state mismatch error on `callback` page after a google user is successfully logged in with Auth0 using the google social provider. But only for a few google users.

### Description
I have set up NextJS-Auth0 login in production in our app. I'm using endpoints within `/pages/apu/auth/[login/callback/logout]`. In auth0 I have enabled both database, microsoft, and google login, and

[2020-09-25 14:47] develanet commented on #124
a bit late but if you're looking to display the Sign Up page try this:

1. Create a file 'signup.js' in pages/api/signup.js
[code]

2. Create a signup button:

[code]

[2020-09-25 21:50] pauloneto94 commented on #94
Hey @lightsound, did you configure auth0 as SPA or regular web application to work with auth0/nextjs-auth0 + auth0-js?

[2020-09-25 21:55] pauloneto94 commented on #94
Hey @livelo-app , did you configure auth0 as SPA or regular web application to work with auth0/nextjs-auth0 + auth0-js?

[2020-09-26 10:27] joaogarin commented on #172
Any ideas how to get passed this problem? also running into the same thing. locally it seems to work ok

[2020-09-26 10:47] samuanv commented on #172
I solved a similar issue ensuring that the callbacks have a trailing slash at the end (`redirectUri: `${process.env.REDIRECT_URI}/api/auth/callback/`)
Remember to add this as well in your auth0 app.

Also disabling [trailingSlash property](https://nextjs.org/docs/api-reference/next.config.js/trailing-slash) `trailingSlash: false,` in my `next.config.js`.

Hope this helps

[2020-09-26 12:14] develanet commented on #44
I'm currently using the `prompt: 'none'` workaround as @joecris mentioned above.

In my case I'm actually using this silent auth path as the redirect_url for a [Stripe Checkout Session](https://stripe.com/docs/api/checkout/sessions). This enables my app to refresh the Auth0 session and get the updated profile where I'm storing the Stripe customer ID and subscription info etc. Not sure if it's idea

[2020-09-26 16:33] aorsten commented on #172
Thanks. I'll check if this solves it, it does sound like a probable cause.
About trailing slashes, isn't false already the default value?

[2020-09-27 10:35] aorsten commented on #172
@samuanv what was your similar issue btw? And why did it solve the problem for you - when was the trailing slash added?

[2020-10-03 15:04] alirezazarei28 commented on #129
+

[2020-10-08 05:47] adarnon opened #174 "Add onUserLoaded callback to handleProfile"
### Describe the problem you'd like to have solved

The `handleCallback` function has a very useful callback `onUserLoaded` that allows me to enrich the user's session object.
However, if I want to refetch the user's session through `handleProfile`, the session would just get refetched and overridden without any of the changes I had done in `onUserLoaded`.

### Describe the ideal solution

`handle

[2020-10-10 01:51] philihp commented on #94
I have a similar requirement to this issue. `auth0-js` doesn't work as an API route because of https://github.com/auth0/auth0.js/issues/878, however I was able to get a signup by doing the following. Hope this helps you, my dear reader.

[code]

[2020-10-12 23:07] yonghing opened #176 "Documentation needed"
Can we have documentation like this https://auth0.github.io/auth0-react/

[2020-10-13 01:10] gmwill934 commented on #148
What about using CSR? I do not saw any examples when using client side rendering.

[2020-10-13 16:56] gmwill934 opened #178 "nextjs-auth0 for CSR"
Hello

I’ve looked at the nextjs-auth0 sdk and the presented examples for authentication and authorization provided are for server side / api scenarios using sessions and cookies.

What about if I am using CSR with NextJS? (my app is a client server architecture, I have my own custom backend)

What would be the ‘correct’ sdk to use for authentication and authorization for nextjs using client side

[2020-10-13 19:30] rogelio-meza-t commented on #178
Hi @gmwill934 !!

You can use `getServerSideProps` in order to perform some tasks before the page is rendered.

If you want to protect a page, there are some examples out there (I think you already checked the examples). Also, you can call inside `getServerSideProps` something like `const session = await auth0.getSession(req);` and check if the session is present, if not, you can redirect to `/api

[2020-10-14 13:37] Jamesglaschu commented on #126
This has now been fixed

[2020-10-14 13:37] #126 closed

[2020-10-14 23:15] gmwill934 commented on #178
Hey! @rogelio-meza-t
`getServerSideProps` is for `SSR` which I don't want to use, I want to use Next JS as a full CSR (client side rendering) application.

[2020-10-15 04:18] rogelio-meza-t commented on #178
Hi @gmwill934
If you wants a full CSR why you choose NextJS? Why not just React?

As I said in the second paragraph, the purpose of `getServerSideProps` is to get the session/token after the page is rendered, because by default (and by security reasons) the session isn't accessible in the browser, then; if it exists render the page, if not, force the login.

Another approach could be writing a pro

[2020-10-15 13:57] gmwill934 commented on #178
@rogelio-meza-t
I choose it for their out of the box routing capabilities and automatic code splitting.

[2020-10-15 17:54] NikolaMalezanoski opened #179 "Hardcoded logout url"
### Describe the problem you'd like to have solved

https://github.com/auth0/nextjs-auth0/blob/master/src/handlers/logout.ts#L13

Function createLogoutUrl probably need to be compatible with opened,

https://github.com/auth0/nextjs-auth0/blob/master/src/handlers/logout.ts#L13

### Describe the ideal solution
Currently it is hardcoded to **/v2/logout**. I think need to support and  **/protocol/open

[2020-10-15 18:24] #179 closed

[2020-10-19 04:01] jordie23 commented on #163
Sorry a little OT, but is there more information about this somewhere?

[2020-10-19 04:03] jordie23 commented on #141
@rynomad Do you have an example of the changes you did to get it to work?

[2020-10-21 11:35] Maxime-Fleurant commented on #178
because we want to use SSG capabilities

[2020-10-23 09:45] MaxAst commented on #178
I would be interested in this approach as well. Would it be okay to just use this package in my custom backend and implement express routes that have the same functionality as the serverless functions in the next.js example?

[2020-10-23 19:18] reconbot opened #180 "Pass login_hint in from the request to /api/login"
### Describe the problem you'd like to have solved

I'd like to pass `login_hint` to the login page via a link from my page. eg I'd like this to work `/api/login?login_hint=email@foo.com`

### Describe the ideal solution

It would just pick it up from the request, similar to `redirect_to`

## Alternatives and current work-arounds

To get this behavior I have to do the following

[code]

### Additi

[2020-10-28 08:04] dohomi commented on #145
@joecris storeAccessToken:true fixed it for me. Might be good to mention this in the docs

[2020-10-28 08:31] dohomi opened #182 "How to refetch a user"
### Description

My app allows user to adjust the credentials of the user. Now I need to refetch the user credentials but refetch:true of
[code]
does not update the user. How can I refetch the user that the new user roles are fetched? Currently only logout => login works which can't be the UX

### Reproduction

I followed the default setup and created an api endpoint which does not update the user

[2020-10-28 11:34] dohomi opened #183 "next-pwa login flow is not working with this plugin"
### Description

Next with enabled pwa mode (next-pwa) does not work with this package. After the login credential the login flow freezes and the user has to quit the entire app. With the next opening the credentials are there and the user is logged in. Do I miss anything or is this package not meant to work in PWA mode?

### Reproduction

After add to home button the app login flow does not work

[2020-10-28 11:35] dohomi commented on #182
The only solution I found so far is using
[code]
Not sure if thats intended to be the solution though.

[2020-10-28 16:40] mosesoak commented on #182
@dohomi  You are correct that this library does not provide a solution for this important task. The other libs that work via the frontend have silent iframe reauth, this one does not since it's backend-only and uses a different flavor of auth.

We talked to this module's author and he told us that all auth0 modules are currently being rebuilt as a single core lib with extensions, so this particula

[2020-10-28 23:11] glenmcrae commented on #110
+1 this would be really useful

[2020-10-29 00:45] dohomi commented on #182
@mosesoak for now I will use the re-send the user to the login.

[2020-10-29 16:10] zia-ecologi opened #184 "Clarification of how sessions are stored"
Looking at the source code, I can see that the session is stored in memory on the server side.

In the past, where I have worked with session based auth, the session would be stored with a distributed in-memory key–value database such as Redis.

For nextjs-auth0 - how is the session made available across separate NextJS API routes, which are running in separate AWS lambdas with separate memory?

[2020-10-29 18:04] corysimmons commented on #110
I haven't investigated for workarounds, but I'm using Okta with my company and their SDKs are kinda lacking so I realized I needed to just ignore SDKs and use these companies' REST APIs exclusively. I forget what I was trying to do here but there is probably a workaround involving some REST call.

[2020-10-29 23:07] dohomi commented on #183
I receive the same behavior on Safari without PWA:
[code]
After that the login freezes and a reload or leaving the page is necessary. Anyone had that issue before? I basically use the example with SSR login authentificatoin.

[2020-10-31 04:19] CaptainChemist opened #186 "Support with Next.js v10.0.0?"
### Description

I'm putting this ticket in because when I try to install the latest version of the @auth0/nextjs-auth0 package with next.js v10.0.0, I receive the following error when I do an npm install:

[code]
Here's the information about the error

[code]

### Environment

Next 10.0.0
@auth0/nextjs-auth0 0.16.0
Node 15.0.1
NPM 7.0.3

[2020-11-03 12:59] #184 closed

[2020-11-04 18:14] chalupagrande commented on #14
@sandrinodimattia: neither `session` nor `state` contains the user role. How am I able to find the user role and restrict access?

[2020-11-12 16:33] hems commented on #132
I been also wondering if there isn't a way of reading the `accessToken` from the client side without doing a request to the next.js API asking for the token.

But from my understanding the only way would be to get the `accessToken` on `getServerSideProps` and send it to the frontend as a prop, right?

Also with the data available on the client side, there is no way a user could sign a request and

[2020-11-12 17:24] mosesoak commented on #132
Right, however this library is very much designed as a serverless-driven alternative to their other frontend-centric libs. Since you want to use frontend I'd suggest using their js client (or the react one), which are able to fetch access tokens and have the advantage of being able to silently refresh user login using a hidden iframe.

[2020-11-17 07:47] jordie23 commented on #141
@sandrinodimattia Would be good to be able to use auht0 lock v11 to login/sign up using the popup mode and have the session available to nextjs for server side operations and verification. Is this possible do you think?

[2020-11-17 13:59] pieeee commented on #186
npm install @auth0/nextjs-auth0 --force will fix the error

[2020-11-18 16:11] CaptainChemist commented on #186
Thanks @pieeee! Have you confirmed that this works with Nextjs 10?

[2020-11-19 03:33] pieeee commented on #186
@CaptainChemist however i installed this package with `--force` command. I don't now why, every-time I logged in,  I always get a null value from `session?.user`. Do you have any idea? I followed the instructions from readme.md? Please letme know if you integrate package successfully with next.js

[2020-11-19 05:57] maraisr opened #193 "Client side handoff"
Currently this library only supports getting access tokens and things on the server.

What would a solution look like where these token's are handed to the client, such that client's can make their own api calls using a JWT.

What I envision, is an approach where `spa-js` is used instead, auth happening on the client, and only upon successful auth we set a cookie, and the client is then in charge

[2020-11-19 14:23] olaj commented on #60
I've posted this. But i suppose the problem may as well be on Auth0's end. Or both.

https://github.com/vercel/next.js/issues/19313

Would be great if it could be fixed or if there is a work-around.

[2020-11-20 17:27] pstoica commented on #123
Just ran into this and figured it out. Apparently you need to use the `offline_access` scope?

https://github.com/auth0/nextjs-auth0/issues/4#issuecomment-535039547

[2020-11-20 19:48] harshvitra opened #196 "User Provider in the example doesn't exist"
### Description

In the example files both the typescript example and the basic example have a function to fetch user details.
In this file we have a piece of code -

[code]

Since the User doesn't exist this leads to an error.

<img width="641" alt="Screenshot 2020-11-21 at 1 16 35 AM" src="https://user-images.githubusercontent.com/25605193/99843341-6cc77880-2b97-11eb-998c-de1d2f0a9547.png">

###

[2020-11-24 18:00] adarnon commented on #77
There's not a lot to update (it still doesn't work out of the box), just wanted to say thank you @sir-dunxalot your repo helped me fix a very annoying problem. It could be updated (Cypress whitelist has been renamed) but the logic is flawless!

[2020-11-24 19:53] lone-cloud commented on #141
I believe the issue that I was running into here (and a few other places as @rynomad pointed out) is that auth0 may return the state in a query param rather than in a cookie like this lib expects. As such, you have to patch the next.js request before passing it to handleCallback.

[code]

then
[code]

[2020-11-24 19:55] lone-cloud commented on #172
I believe my solution to #141 will fix this issue too

[2020-11-27 00:11] jordie23 commented on #141
Super helpful @lone-cloud , Thank you!

[2020-11-28 12:29] spmsupun opened #197 "oidcClient httpTimeout doesn't work"
Whatever you put in `httpTimeout` it always response as `TimeoutError: Timeout awaiting 'request' for 2500ms`
[code]

![image](https://user-images.githubusercontent.com/1854023/100515624-76f30380-31a3-11eb-8d5b-cc804890e919.png)

[2020-11-29 21:11] glenmcrae commented on #196
User is the context in this example right? It needs to be declared above.

`const User = React.createContext({ user: null, loading: false });`

[2020-11-30 16:14] SpicyPete commented on #155
If the entire app has a navbar at top with the user's profile status, but all the pages can be accessed while logged out as well, wouldn't it make sense to wrap the entire app with auth?

Or is there a way to get the users status, while keeping the static optimizations?

[2020-12-01 04:33] #197 closed

[2020-12-01 18:04] SpicyPete opened #199 "Documentation on how to refresh the user"
### Describe the problem you'd like to have solved

This library seems to have support for refresh tokens, but there aren't any examples of how to use this token to refresh the user session.
Once the token expires, the user is currently invalid until they visit the `/api/login` endpoint again.

### Describe the ideal solution

Documentation or example on how to use the refresh token.
Ideally an ex

[2020-12-02 15:56] drewdecarme opened #201 "Guidance on how to utilize the tokenCache with external APIs WITHOUT proxying your calls through NextJS api routes"
### Describe the problem you'd like to have solved

The guidance that is provided in the documentation states that it is a common pattern to proxy any external API requests that require authorization headers or access tokens in some form, through the NextJS provided API mechanisms. This is totally fine, but with a large external API, that would ostensibly require you to re-write that API. In all h

[2020-12-03 12:45] ptpavankumar commented on #89
Im getting the same issue and now when I apply @paulolramos suggestion Im getting 400 error saying `{
    "statusCode": 400,
    "error": "Bad Request",
    "message": "Invalid token (link_with).",
    "errorCode": "invalid_body"
}`

[2020-12-03 13:35] ptpavankumar commented on #89
Ok, after enormous amount of time it started working.
Primary user should have audience along with scopes such as "openid profile email update:current_user_metadata update:current_user_identities"
Secondary user should also have audience along with scope such as "profile".

NOTE: The catch is to get an IdTokenClaims() and not access token
`const a0 = new Auth0Client({
          domain: process.env

[2020-12-04 14:18] helloitsm3 commented on #186
Currently using NextJS 10.0.3. Was able to login successfully and retrive user's information

[2020-12-04 16:25] pieeee commented on #186
@helloitsm3 did you follow the instruction they described in the readme?

[2020-12-05 04:08] helloitsm3 commented on #186
My code is somewhat similar. What happens when you try to access /api/profile?

[2020-12-05 22:38] pieeee commented on #186
@helloitsm3 It always returns `null` from `session.user` even though I was logged in.

[2020-12-05 22:39] pieeee commented on #186
@helloitsm3 It always returns `null` from `session.user` even though I was logged in.

[2020-12-06 03:04] helloitsm3 commented on #186
Can you share some code so that we can help you to debug? I'm able to retrieve user information after logging in

[2020-12-06 08:28] pieeee commented on #186
let me try again. If I failed, I will share

[2020-12-06 08:29] pieeee commented on #186
let me try again. If I failed, I will share

[2020-12-07 16:52] pstoica commented on #197
Did you resolve this? I've been seeing the same and was curious.

[2020-12-07 20:22] spmsupun commented on #197
This happened when I use next js inside a docker container when I used without it, it worked.

[2020-12-11 04:41] iamchathu commented on #201
Great to couple Auth0 SPA SDK with this to use the Token in Client Side too

[2020-12-11 16:48] k4m4 commented on #139
Would be nice to have a PR for this @mcky.

[2020-12-14 16:01] jaredgalanis opened #205 "requireAuthentication and accessToken"
The `requireAuthentication` handler seems to only check for the existence of a session and user on that session, but I am noticing that it is possible to have a session, but an invalid access token.

An invalid access token should invalidate the session or the `requireAuthentication` handler should check for the validity of `accessToken`.

[2020-12-14 16:14] jaredgalanis opened #206 "profileHandler does not respond with an authentication error if access token is expired"
The `profileHandler` throws an `Error` if no valid access token is available, but it does not respond with a `not_authenticated` response in same way that it does if there is a lack of `session`.

[2020-12-14 16:58] #160 closed

[2020-12-14 20:45] dylanesque commented on #172
I ran into this issue, this fix worked instantly for me.

[2020-12-14 21:47] sioquim commented on #170
@YelloJW did you manage to find a workaround? Getting a similar issue at the moment.

[2020-12-18 12:19] 37devv opened #207 "AccessTokenError: The user does not have a valid access token."
### Description

I know that this thread exists: https://github.com/auth0/nextjs-auth0/issues/90 but it didn't help me.
The answers in that thread, were that the audience value in the auth0 config was missing. In my case it's there and the same in the settings and in the backend api.

I'm calling an endpoint in the backend, which requires a scope. Im doing this in the getServerSideProps method.
Wh

[2020-12-18 16:32] GMaiolo opened #208 "Site-wide authentication"
### Describe the problem you'd like to have solved
Currently this library fits all my needs with the exception of handling site-wide authentication, the issue arises with a NavBar that's outside the pages (as it's global and it's always showing) where I need to display the user avatar/name and pretty much feedback of being either logged in (displaying a link to the user profile) or not logged in (

[2020-12-22 15:15] DeeJEarl88 opened #213 "Unable to set as session cookie with no expiration date"
### Description

[2020-12-26 18:09] aorsten commented on #163
@mosesoak Ref the above post, do you have any more info regarding auth0's upgrade of lib ecosystem? Or some link to some info? 😊

[2020-12-27 21:51] pedropiloto commented on #86
I found a solution that worked for my case (I'm deploying it using caprover). Add the build and the start to the dockerfile CMD:

`CMD bash -c "yarn build && yarn start"`

[2020-12-27 22:02] treykaws opened #215 "Backing out of the Login page"
### Description
I noticed a small bug (or may not be) when cloning the official example setup leveraging this package. The repo is [here](https://github.com/vercel/next.js/tree/canary/examples/auth0). The issue is with inconsistent state when returning back to the application without entering credentials on the auth0 hosted login page.

### Reproduction
To reproduce this issue simply clone the rep

[2020-12-28 01:29] ashburnham commented on #207
`storeAccessToken` and `storeRefreshToken` need to be `true`

[2020-12-29 17:22] OriginalEXE commented on #201
I personally proxy all requests through a Next.js API route (as mentioned in your title) and with that approach you don't need 2 roundtrips on the frontend. I proxy the requests on the backend to the API itself, and then respond to the client directly. The client is non the wiser that it was really an external API endpoint :)

I do agree it's not super convenient, but not that I got it working, I

[2021-01-03 14:13] talkl opened #217 "Fetching identity provider access_token"
I am following the tutorial of [how to fetch identity provider access_token](https://auth0.com/docs/connections/calling-an-external-idp-api).
I am unable to get the user that logged in using a social identity provider to have the sufficient scopes: [read:users, read:user_idp_tokens]

<img width="1002" alt="Screen Shot 2021-01-03 at 15 58 37" src="https://user-images.githubusercontent.com/9368630/1

[2021-01-04 01:29] jey3dayo commented on #86
I think this looks good.

https://github.com/auth0/nextjs-auth0/issues/154#issuecomment-677458794

[2021-01-05 09:01] talkl commented on #217
@sandrinodimattia hey Sandrino, can you help with this?

[2021-01-05 09:54] talkl commented on #217
solved!

from sandrino,

The scopes you request (openid profile email offline_access ...) are all on behalf of the user. But read:user_idp_tokens cannot be requested on behalf of the user, it can only be requested by a protected client.

Long story short, this is what you'll need to do (assuming you are using the Next.js Auth0 SDK):

1. Go to the dashboard, open APIs, open "Auth0 Management API" a

[2021-01-06 10:39] snavaneeth78 commented on #207
I have both set to true & still have the same error.

[2021-01-06 11:21] YelloJW commented on #170
No not yet @sioquim

[2021-01-07 20:41] gmencz commented on #129
I ended up writing my own helper for handling this and a couple typescript utils, hope it helps!

The helpers at `utils/authenticated-server-side-props.ts`:
[code]
Usage example without additional props at `pages/example-simple.tsx`:
[code]
Usage example with a custom getServerSideProps at `pages/example-advanced.tsx`:
[code]

[2021-01-13 22:41] callmephilip commented on #89
@ptpavankumar thanks for taking time to sort this out and report back! saved me tons of headache 🥇

[2021-01-15 03:54] yilmazbingo commented on #60
I cleared the cookies for http://localhost:3000  then I could login. I was seeing this error "ERR_TOO_MANY_REDIRECTS" for api call to "/api/v1/me". So I google about this error, saw a suggestion to delete the cookies and it worked.

[2021-01-15 12:04] adamjmcgrath commented on #217
Thanks for sharing your solution @talkl

[2021-01-15 12:04] #217 closed

[2021-01-15 12:08] adamjmcgrath commented on #215
Hi @treykaws - thanks for raising this

This issue has been fixed in the Beta, by adding cache headers to the `/me` handler https://github.com/auth0/nextjs-auth0/blob/beta/src/handlers/profile.ts#L73

You can check out the Beta here https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0

Closing for now, feel free to reopen if you want to discuss further.

[2021-01-15 12:08] #215 closed

[2021-01-15 12:13] adamjmcgrath commented on #213
Hi @DeeJEarl88 - thanks for raising this

This is now possible in the Beta, using the `cookie.transient` option https://auth0.github.io/nextjs-auth0/interfaces/config.cookieconfig.html#transient

You can check out the Beta here https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0

Closing for now, update this thread if you want me to reopen it.

[2021-01-15 12:13] #213 closed

[2021-01-15 12:17] adamjmcgrath commented on #208
Hi @GMaiolo - thanks for raising this

We now have a `useUser` frontend hook and a `withPageAuthRequired` higher order component in the Beta that works the same as `auth0-react`. See https://auth0.github.io/nextjs-auth0/modules/frontend_use_user.html and https://auth0.github.io/nextjs-auth0/modules/frontend_with_page_auth_required.html

You can check out the Beta here https://github.com/auth0/next

[2021-01-15 12:17] #208 closed

[2021-01-15 12:23] adamjmcgrath commented on #207
Hi @37devv - from the code you've shared it looks like you're passing the string `'process.env.AUDIENCE'` when you should be passing the value of `process.env.AUDIENCE` (it should not be in single quotes) eg:

[code]

[2021-01-15 12:44] adamjmcgrath commented on #206
Hi @jaredgalanis - thanks for raising this

The expiry of the Access Token (and or that matter, the expiry of the ID Token) does not dictate the duration of the session, nor visa-versa. For example, you might have a short lived Access Token and that should be refreshed with a Refresh Token (which may have a very long lived expiry).

So I wouldn't expect necessarily the `profileHandler` to throw wh

[2021-01-15 12:44] #206 closed

[2021-01-15 12:45] adamjmcgrath commented on #205
Hi @jaredgalanis - thanks for raising this

My answer to this is the  same as your other Issue https://github.com/auth0/nextjs-auth0/issues/206#issuecomment-760921032

[2021-01-15 12:45] #205 closed

[2021-01-15 12:49] adamjmcgrath commented on #201
Hi @drewdecarme - Thanks for raising this.

Whilst we do not recommend this approach unless strictly necessary. We've added guidance for this in the Beta examples https://github.com/auth0/nextjs-auth0/blob/beta/EXAMPLES.md#access-an-external-api-from-the-front-end

Note the caveat in the example. Generally, we recommend the approach that @OriginalEXE has kindly explained above.

You can check out

[2021-01-15 12:49] #201 closed

[2021-01-15 12:56] adamjmcgrath commented on #199
Hi @SpicyPete - thanks for raising this

You can't refresh the session - the Refresh Token is to refresh a short lived Access Token that the session manages. To manage the session expiration you should use the session duration properties in the config.

The new Beta has additional config properties to manage this, namely [session.absoluteDuration](https://auth0.github.io/nextjs-auth0/interfaces/co

[2021-01-15 12:56] #199 closed

[2021-01-15 14:08] adamjmcgrath commented on #196
Hi @harshvitra  - thanks for raising this

In the typescript and basic example the `User` is declared at https://github.com/auth0/nextjs-auth0/blob/master/examples/typescript-example/lib/user.tsx#L32 and https://github.com/auth0/nextjs-auth0/blob/master/examples/basic-example/lib/user.js#L7https://github.com/auth0/nextjs-auth0/blob/master/examples/basic-example/lib/user.js#L7 respectively.

From y

[2021-01-15 14:16] adamjmcgrath commented on #193
Hi @maraisr - doing SPA authentication in a Next app is a valid approach, but not one supported by this SDK.

If you want to use Next.js but don't want to manage auth on the server. I recommend you check out our Next.js example in the `auth0-react` SDK repo  https://github.com/auth0/auth0-react/blob/master/EXAMPLES.md#3-protecting-a-route-in-a-nextjs-app-in-spa-mode

I'd also recommend you check o

[2021-01-15 14:16] #193 closed

[2021-01-15 14:21] adamjmcgrath commented on #186
Hi @pieeee - are you still seeing issues?

If so please share the code that you are having issues with.

You could also try the new Beta here https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0

[2021-01-15 14:32] adamjmcgrath commented on #183
Hi @dohomi - thanks for raising this

I'm not able to reproduce your issue with the basic example app on Safari 14.0.2

If you're still seeing this issue, could you share your code?

You could also try the new Beta https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0

[2021-01-15 15:02] RyanPayso13 opened #239 "No state or session cookies set when `NODE_ENV` is production and deployed environment is not secure"
We have not yet got a secure environment so the deployed environment is `http` only.

When we try to use this library on `localhost` then everything works fine but when deployed i see no `a0:state` or `a0:session` cookies being stored even though the `a0:session` cookie is sent back in the `callback` response.

As we are in `production` mode but deploying to an insecure environment is there a way

[2021-01-15 15:38] adamjmcgrath commented on #182
Hi @dohomi - thanks for raising this

The new Beta will now update the stored session if it's updated, so if `auth0.handleProfile(req,res, { refetch:true })` returns user claims that are different to what is stored in the session, they will be updated.

You can check out the Beta here https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0

Closing for now. Please try it out, let me know

[2021-01-15 15:38] #182 closed

[2021-01-15 15:55] adamjmcgrath commented on #180
Hi @reconbot - thanks for asking this question

There is no security risk to passing `login_hint` from a query parameter to the authorization url. There is a risk of open redirects when passing the `redirect_to` parameter, but we mitigate this in the SDK by checking that the `redirect_to` is a local url https://github.com/auth0/nextjs-auth0/blob/master/src/handlers/login.ts#L56

Closing for now, u

[2021-01-15 15:55] #180 closed

[2021-01-15 16:01] adamjmcgrath commented on #178
Hi @gmwill934 - thanks for raising this issue

If you want to use Next js as a SPA, you can use our `auth0-react` SDK. Take a look at the auth0-react Next.js example app here https://github.com/auth0/auth0-react/tree/master/examples/nextjs-app

Closing for now, update this thread if you want me to reopen it.

[2021-01-15 16:01] #178 closed

[2021-01-15 16:05] adamjmcgrath commented on #176
Hi @yonghing - thanks for raising this

The new Beta has auto generated API documentation here https://auth0.github.io/nextjs-auth0/

You can check out the Beta here https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0

Closing for now, feel free to reopen if you want to discuss further.

[2021-01-15 16:05] #176 closed

[2021-01-15 16:36] adamjmcgrath commented on #172
Hi @aorsten - thanks for raising this issue

Could you let me know if you're still seeing this issue?

The new Beta has changed how it manages the transient cookies for state validation in the login callback, so you could try using that.

You can check out the Beta here https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0

Closing for now, happy to reopen if you want to discuss this fu

[2021-01-15 16:36] #172 closed

[2021-01-15 16:56] Widcket commented on #163
Hi everyone, we have included the answer to this question in the README of the new beta version. Please check it out [here](https://github.com/auth0/nextjs-auth0/tree/beta#comparison-with-auth0-react).

[2021-01-15 16:56] #163 closed

[2021-01-15 17:05] Widcket commented on #47
Hi everyone, we've just released [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0). This is an important step towards getting the library to GA. Please try it out, your feedback is welcome.

[2021-01-15 17:09] Widcket commented on #42
Hi, can you please check if this issue still happens in the [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release? We've completely reworked the session logic.

[2021-01-15 17:13] Widcket commented on #114
Hi @haf, please check out the [updated samples](https://github.com/auth0/nextjs-auth0/tree/v1.0.0-beta.0/examples) in the new [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release.

[2021-01-15 17:31] Widcket commented on #59
Hi @HelloEdit, please check out the new and simplified API in the [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release. Would love to have your feedback.

[2021-01-15 17:35] Widcket commented on #112
Hi @haf, this is fixed in [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0).

[2021-01-15 17:35] #112 closed

[2021-01-15 17:45] Widcket commented on #70
Hi all, can you please check if this issue still happens in the new [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release? We've completely reworked the session code, and now support cookie stitching.

[2021-01-15 17:49] Widcket commented on #72
Thanks @remiroyc for the guidance.

[2021-01-15 17:49] #72 closed

[2021-01-15 18:01] Widcket commented on #76
Hi all, please check out the [Access an external API from an API route](https://github.com/auth0/nextjs-auth0/blob/beta/EXAMPLES.md#access-an-external-api-from-an-api-route) example from the new [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release. [This issue](https://github.com/auth0/nextjs-auth0/issues/67) might also be useful for Apollo Client users.

We ha

[2021-01-15 18:01] #76 closed

[2021-01-15 18:18] Widcket commented on #129
Hi everyone, we've just released [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) that includes support for protecting server-side rendered pages with `getServerSideProps`. Please take a look at [the example](https://github.com/auth0/nextjs-auth0/blob/beta/EXAMPLES.md#protecting-a-server-side-rendered-ssr-page).

[2021-01-15 18:18] #129 closed

[2021-01-15 18:23] drewdecarme commented on #201
Thanks for getting back on this. Also, great to see that this is finally going from experimental to beta. Super stoked about that.

One of the things I love about SSR is keeping the secrets on the server. There's just something about the implicit flow and storing session and access token keys on the client that makes me feel dirty and want to take a shower. This in turn makes this package really a

[2021-01-15 18:53] Widcket commented on #132
Hi everyone, please check out the examples page of the new [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release for guidance on this:
- [Access an external API from an API route](https://github.com/auth0/nextjs-auth0/blob/beta/EXAMPLES.md#access-an-external-api-from-an-api-route)
- [Access an external API from the frontend](https://github.com/auth0/nextjs-auth0

[2021-01-15 18:53] #132 closed

[2021-01-15 19:23] Widcket commented on #128
Hi everyone, can you please check if this issue still happens with the new [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release? We completely reworked the session code, and we now support cookie stitching (the length of the cookie should no longer cause issues). Your feedback is welcome.

[2021-01-15 19:58] adamjmcgrath commented on #201
Hey @drewdecarme

Sure, sending access tokens down via pageProps is acceptable, with the caveat you described - that having access tokens on the front end leaves them vulnerable to XSS

Our best practice is what @OriginalEXE has described, proxying requests to external APIs from Next API routes protected with the encrypted cookie session

[2021-01-15 20:19] Widcket commented on #46
Hi everyone, we've just released v1.0.0-beta.0 that includes support for protecting server-side rendered pages with `getServerSideProps`. Please take a look at [the example](https://github.com/auth0/nextjs-auth0/blob/beta/EXAMPLES.md#protecting-a-server-side-rendered-ssr-page). Note that the beta supports only Next 10+, though.

[2021-01-15 20:19] #46 closed

[2021-01-15 20:21] Widcket commented on #119
Hi, this is now fixed on the [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release, as the SDK can be now configured with environment variables.

[2021-01-15 20:21] #119 closed

[2021-01-15 20:22] Widcket commented on #123
Indeed, you need to add `offline_access` to the list of scopes. Thanks @pstoica

[2021-01-15 20:22] #123 closed

[2021-01-15 20:26] Widcket commented on #109
Hi @reicheltp, this is now fixed in the new [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release.

[2021-01-15 20:26] #109 closed

[2021-01-15 20:33] Widcket commented on #111
Hi everyone, this is now fixed in the new [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0).

[2021-01-15 20:33] #111 closed

[2021-01-15 20:40] Widcket commented on #105
Hi @krystian50, in the new [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release you can now check the user authentication status and get their profile on the client side by using the `useUser` hook. Check out the details in the [beta README](https://github.com/auth0/nextjs-auth0/tree/beta#basic-setup).

[2021-01-15 20:40] #105 closed

[2021-01-15 20:46] Widcket commented on #91
Hi everyone, this is now fixed in the [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release, which uses cookie stitching so large cookies should no longer cause issues.

[2021-01-15 20:46] #91 closed

[2021-01-15 20:50] Widcket commented on #90
Hi everyone, can you please check if you still have issues with the new [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) release? We've heavily reworked the session logic.

[2021-01-15 20:58] Widcket commented on #86
Hi everyone, as a heads up in the new [v1.0.0-beta.0](https://github.com/auth0/nextjs-auth0/releases/tag/v1.0.0-beta.0) by default there's no need to create an SDK instance anymore. The SDK will create a singleton instance and configure itself, provided the required environment variables are set. However, if you need to create an instance you can still do so as well.
Check out more details in the